@font-face {
	font-family: ROKAF;
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/ROKAF-Sans-Medium.otf") format("opentype");
}

@font-face {
	font-family: ROKAFBold;
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/ROKAF-Sans-Bold.otf") format("opentype");
}

:root {
	--brand-blue: #3692ff;
	--error-red: #f74747;
	--brand-blue-active: #3692ff;
	--brand-blue-hover: #1967D6;
	--brand-blue-click: #1251aa;
	--brand-blue-inactive: #9ca3af;
	--background-blue: #cfe5ff;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-400: #9ca3af;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Pretendard Variable', sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
}

a {
	cursor: pointer;
}

.mt-70 {
	margin-top: 70px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main-container {
	margin-top: 70px;
	flex: 1;
	width: 100%;
}

.login-container {}