.top-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--white);
}
.top {
  max-width: 1920px;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  align-items: center;
  padding: 10px 0 9px;
}

.nav-logo {
  background-image: url(../img/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 153px;
  height: 51px;
  cursor: pointer;
}
.login-btn {
  background-color: var(--btn-color);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: var(--white);
  width: 128px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.title-container {
  max-width: 1920px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-image: url(../img/img_home_top.png);
  background-position: bottom right 24%;
  background-size: 996px 447px;
  background-repeat: no-repeat;
}

.background {
  width: 100%;
  height: 540px;
  background-color: var(--main-bg-color);
}

.title {
  width: 1200px;
  margin: 0 auto;
  z-index: 1;
}

.title-slogan {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray700);
  margin-bottom: 32px;
}

.title-btn {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 16px 125px;
  background-color: var(--btn-color);
  border-radius: 40px;
  display: inline-block;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}
.section-container {
  width: 1200px;
  margin: 0 auto;
}
.feature-image {
  width: 588px;
}

.section {
  display: flex;
  padding: 138px 0;
  align-items: center;
}
.feature-text {
  padding: 0 64px;
}

.section:nth-child(2) {
  flex-direction: row-reverse;
  text-align: right;
}

.key-word {
  color: #3682ff;
  font-size: 18px;
  font-weight: 700;
}

.feature-text > h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--gray700);
  margin-top: 12px;
  margin-bottom: 24px;
}
.feature-text > p {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.end-title {
  max-width: 1920px;
  margin: 0 auto;
  height: 540px;
  background-image: url(../img/img_home_bottom.png);
  background-position: bottom right 24%;
  background-size: 996px 540px;
  background-repeat: no-repeat;
}
.end-card {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  height: 540px;
  align-items: center;
}

.end-comment {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray700);
}

footer {
  width: 100%;
  background-color: var(--gray900);
}
.footer-container {
  display: flex;
  padding: 32px 200px 108px;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
}
.footer-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #cfcfcf;
  text-decoration: none;
  font-family: Abel;
}
.footer-text:nth-child(2).faq {
  margin-left: 30px;
}
.codeit {
  color: #676767;
}
.social-logo {
  display: flex;
}
.social-logo > a {
  margin-left: 12px;
}
.social-logo > a > img {
  width: 20px;
  height: 20px;
}

/*768px 이상 1200px 미만 tablet*/

@media (min-width: 768px) and (max-width: 1199px) {
  .top {
    max-width: none;
    width: 100%;
  }

  .top-nav {
    margin: 0 24px;
  }

  .title-container {
    max-width: none;
    height: 771px;
    justify-content: flex-start;
    background-position: bottom;
  }
  .background.bg-top {
    height: 771px;
  }

  .title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .title-slogan {
    margin-top: 84px;
    margin-bottom: 24px;
  }
  .title-slogan > br {
    display: none;
  }

  main {
    max-width: none;
  }
  .section-container {
    width: 100%;
    padding: 24px 24px;
  }
  .feature-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .section {
    flex-direction: column;
    padding: 0px 0;
    align-items: flex-start;
  }
  .feature-text {
    padding: 0;
  }

  .section:nth-child(2) {
    flex-direction: column;
    align-items: flex-end;
  }

  .key-word {
    margin-bottom: 12px;
  }

  .feature-text > h1 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .feature-text > h1 > br {
    display: none;
  }
  .feature-text > p {
    font-size: 18px;
    margin-bottom: 64px;
    line-height: 22px;
  }
  .background.bg-bottom {
    height: 927px;
  }
  .end-title {
    max-width: none;
    height: 927px;
    background-position: bottom;
  }
  .end-card {
    width: 100%;
    height: 927px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 200px;
  }

  .end-comment {
    text-align: center;
  }

  .footer-container {
    padding: 32px 104px 108px;
    max-width: none;
  }
}

/*375px 이상 768px 미만 mobile*/

@media (min-width: 375px) and (max-width: 767px) {
  .top {
    max-width: none;
    width: 100%;
  }

  .top-nav {
    margin: 0 16px;
  }
  .nav-logo {
    background-image: url(../img/logo_no_icon.png);
    width: 103px;
  }

  .title-container {
    max-width: none;
    justify-content: flex-start;
    background-position: bottom;
    background-size: 626px 281px;
  }

  .title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .title-slogan {
    font-size: 32px;
    margin-top: 48px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 45px;
  }
  .title-btn {
    font-size: 16px;
    padding: 15px 34px;
  }

  main {
    max-width: none;
    margin-top: 51px;
  }
  .section-container {
    width: 100%;
    padding: 16px 16px;
  }
  .feature-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .section {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }
  .feature-text {
    padding: 0;
  }

  .section:nth-child(2) {
    flex-direction: column;
    align-items: flex-end;
  }

  .key-word {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .feature-text > h1 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .feature-text > h1 > br {
    display: none;
  }
  .feature-text > p {
    font-size: 16px;
    margin-bottom: 64px;
    line-height: 19px;
  }

  .end-title {
    max-width: none;
    background-position: bottom;
    background-size: 498px 270px;
  }
  .end-card {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 121px;
  }

  .end-comment {
    text-align: center;
    line-height: 45px;
  }

  .footer-container {
    padding: 32px 32px 92px;
    max-width: none;
    position: relative;
  }
  .codeit {
    position: absolute;
    bottom: 30px;
  }
  .footer-text {
    font-family: Arial;
  }
}
