@import "reset.css";

body {
  width: 640px;
  margin: 60px auto;
}

.logo img {
  margin: 40px 122px;
}

label {
  color: var(--color-coolgray800);
  display: block;
  margin: 24px 0 16px;

  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  text-align: left;
}

input {
  display: block;
  border: none;

  background: var(--color-coolgray100);
  height: 56px;
  padding: 16px 24px;
  border-radius: 12px;
  width: 100%;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eye-off,
.repeat-eye-off {
  position: absolute;
  right: 24px;
  cursor: pointer;
}

input::placeholder {
  color: #9ca3af;
  font-size: 16px;
  line-height: 24px;
}

input:focus {
  outline-color: var(--color-blue);
}

button {
  background-color: var(--color-coolgray400);
  width: 100%;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  border: none;
  margin-top: 24px;

  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

button:hover {
  background-color: var(--color-blue);
}

.easylogin {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--color-easylogin);
  height: 74px;
  border-radius: 8px;
  margin: 24px 0;
}

.easylogin-text {
  display: flex;
  flex: 1 1 auto;
  margin: 0 23px 0;

  color: var(--color-coolgray800);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.easylogin-logo {
  display: flex;
  gap: 16px;
  margin-right: 23px;
}

.signup-text {
  color: var(--color-coolgray800);
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  text-align: center;
}

.signup {
  display: inline-flex;
  gap: 4px;
  color: var(--color-signup);
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  text-align: left;
}

.email-none,
.email-fail,
.password-none,
.password-fail,
.nickname-none,
.pwrepeat-none {
  color: var(--color-red);
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.9px;
  text-align: left;
  margin: 8px 16px 24px;
}

.pwrepeat-none {
  margin: 8px 16px 0;
}

.hide {
  display: none;
}

.outline {
  outline-color: var(--color-red);
}

/* Tablet */
@media (max-width: 1199px) {
  body {
    margin: 48px auto;
  }
}

.logo {
  text-align: center;
  margin: 0;
}

/* Mobile */
@media (max-width: 767px) {
  body {
    padding: 24px 16px;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
  }

  .logo {
    text-align: center;
    margin: 0;
  }

  .logo img {
    width: 60%;
    height: 60%;
    margin: 24px auto;
  }

  label {
    margin: 16px 0 8px;
    font-size: 14px;
    line-height: 17px;
  }

  input {
    height: 56px;
    padding: 16px 24px;
    border-radius: 12px;
    width: 100%;
  }

  button {
    margin-top: 16px;
  }

  .email-none,
  .email-fail,
  .password-none,
  .password-fail,
  .nickname-none,
  .pwrepeat-none {
    margin: 8px 16px 16px;
  }

  .pwrepeat-none {
    margin: 8px 16px 0;
  }
}
