.logo-image {
  display: inline-block;
  width: 396px;
  height: 132px;
}

.logo-block {
  width: 396px;
  margin: 60px auto 40px;
}

.content {
  width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--cool-gray-800);
  margin-bottom: 16px;
}

input {
  width: 640px;
  height: 56px;
  border-radius: 12px;
  background-color: var(--cool-gray-100);
  color: var(--cool-gray-400);
  font-size: 16px;
  font-weight: 400;
  padding: 16px 24px;
}

input:focus {
  outline: 2px solid var(--brand-blue);
}

.password-input {
  position: relative;
}

.visibility-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 24px;
}

button {
  width: 640px;
  height: 56px;
  border-radius: 999px;
  background-color: var(--brand-blue);
  color: var(--cool-gray-100);
  font-size: 20px;
  font-weight: 600;
}

button:disabled {
  background-color: var(--cool-gray-400);
}

.simple-login {
  background-color: var(--simple-login-color);
  border-radius: 8px;
  width: 640px;
  height: 74px;
  display: flex;
  padding: 0 23px;
  justify-content: space-between;
  align-items: center;
}

.simple-login > p {
  font-size: 16px;
  font-weight: 500;
}

.simple-buttons {
  display: flex;
  gap: 16px;
}

.simple-login-button {
  width: 42px;
  height: 42px;
}

.about-signup-page,
.about-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 500;
}

.signup-page-link,
.login-page-link {
  color: var(--brand-blue);
}