/*================logo================*/

.logo-block {
  width: 396px;
  height: 132px;
  margin: 60px auto 40px;
}

.logo-image {
  display: block;
  width: 396px;
  height: 132px;
}

/*================input================*/
.content {
  width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--cool-gray-800);
  margin-bottom: 16px;
}

input {
  width: 640px;
  height: 56px;
  border-radius: 12px;
  background-color: var(--cool-gray-100);
  color: var(--cool-gray-400);
  font-size: 16px;
  font-weight: 400;
  padding: 16px 24px;
}

input:focus {
  outline: 2px solid var(--brand-blue);
}

.password-input {
  position: relative;
}

.visibility-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 24px;
}

/*================login-button================*/
button {
  width: 640px;
  height: 56px;
  border-radius: 999px;
  background-color: var(--brand-blue);
  color: var(--cool-gray-100);
  font-size: 20px;
  font-weight: 600;
}

button:disabled {
  background-color: var(--cool-gray-400);
}

/*================simple-login================*/
.simple-login {
  background-color: var(--simple-login-color);
  border-radius: 8px;
  width: 640px;
  height: 74px;
  display: flex;
  padding: 0 23px;
  justify-content: space-between;
  align-items: center;
}

.simple-login > p {
  font-size: 16px;
  font-weight: 500;
}

.simple-buttons {
  display: flex;
  gap: 16px;
}

.simple-login-button {
  width: 42px;
  height: 42px;
}

/*================signup,login link================*/
.about-signup-page,
.about-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 500;
}

.signup-page-link,
.login-page-link {
  color: var(--brand-blue);
}

/*================responsive-web================*/

@media (max-width: 1199px) {
  .logo-block {
    margin: 48px auto 40px;
  }
}

/*================mobile================*/
@media (max-width: 767px) {
  body {
    padding: 0 16px;
  }

  .logo-block {
    width: 198px;
    height: 66px;
    margin: 24px auto;
  }

  .logo-image {
    width: 198px;
    height: 66px;
  }

  .content,
  button,
  input,
  .simple-login {
    width: 100%;
    max-width: 400px;
  }
}