


/* 
@media screen and (min-width:1200px) {
  html {
   
  }
} */
/* 
@media screen and (min-width:768px) and (max-width:1199px) {
  html {
 
  }
  
}

@media screen and (min-width: 375px) and (max-width:767px) {
  html {

  }
}

@media screen and (max-width:374px) {
  html {

  }
} */

/**디스플레이 width 0~1920px 모든 수치 vw 반응형 **/
@media screen and (max-width:1920px) {

  header {
    height: 4.6875vw;
    top: 0vw;
    left: 0vw;
    padding: .5208vw 10.4167vw;
    border-bottom: .0521vw solid var(--borderBottom);
  }
  
  header img {
    width: 7.9688vw;
  }
  
  header > .login-button {
    min-width: 6.6667vw;
    min-height: 2.5vw;
    padding: .625vw 1.0417vw .625vw 1.0417vw;
    border-radius: .4167vw;
    font-size: .8333vw;
    line-height: .9943vw;
  }
  
  .logo > h1 {
    margin-left: .4474vw;
    font-size: 1.3349vw;
    font-weight: 36.4583vw;
    line-height: 1.8021vw;
    
  }
  
  .banner {
    margin-top: 4.6875vw;
    height: 30.2083vw;
   }
  
   .empty-space {
    width: 18.75vw;
   }
  
  .banner img {
    left: 17vw;
    bottom: 0vw;
    width:51.875vw;
    
    
  }
  .banner h1 {
    font-size: 2.0833vw;
    line-height: 2.9167vw;
  }
  
  .banner .Market-tour-button {
    padding: .8333vw 6.4583vw;
    border-radius: 2.0833vw;
    width: 18.5938vw;
    height: 2.9167vw;
    font-size: 1.0417vw;
    line-height: 1.25vw;
  }
  
  .container {
    width: 62.5vw;
  }
  
  .banner > .container {
    height: 100%;
  }
  
  main .text-div {
    gap: .625vw;
  }
  
  main .container {
    gap: 3.3333vw;
    padding: 7.1615vw 0;
  }
  main img {
    width: 30.625vw;
    border-radius: .625vw;
  }

  
  main .blue-bedge {
    font-size: .9375vw;
    line-height: 1.3125vw;
  }
  
  main .title {
    font-size: 2.0833vw;
    line-height: 2.9167vw;
    letter-spacing: 2%;
  }
  
  main .description {
    font-size: 1.25vw;
    line-height: 1.5vw;
    letter-spacing: 8%;
  }
  footer {
    padding: 1.6667vw 10.4167vw 5.625vw;
    font-size: .8333vw;
  }
  
  footer .center{
    gap: 1.5625vw;
  }
  
  
  footer .sns_icon {
    gap: .625vw;
  }
  footer .sns_icon img {
    width: 1.0417vw;
  }

}
