* {
  box-sizing: border-box;
}

html {
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
}

body {
  margin: 0 auto;
  min-height: 1080px;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.login-header {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  height: 132px;
}

.login-main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 24px;
}

.login-section {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.login-label-font {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #1F2937;
}

.password-hidden-layout {
  position: relative;
}

.password-hidden {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 16px 24px;
}

.login-layout {
  width: 640px;
  height: 56px;
  padding-left: 24px;
  border: 1px solid;
  border-radius: 12px;
  border-color: #F3F4F6;
  background-color: #F3F4F6;
  outline-color: #3692FF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.login-button {
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  border: 1px solid;
  border-radius: 40px;
  border-color: #9CA3AF;
  background-color: #9CA3AF;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  font-family: Pretendard, sans-serif;
  font-weight: 600;
}

.login-button-toggle {
  background-color: #3692FF;
}

input::placeholder {
  color: #9CA3AF;
}

.easy-login-section {
  width: 640px;
  height: 74px;
  padding: 23px;
  border-radius: 8px;
  background-color: #E6F2FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.easy-login-font {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1F2937;
}

.easy-login-layout {
  display: flex;
  gap: 16px;
}

.signup-link-font {
  font-weight: 500;
  font-size: 15px;
  font-weight: 17.9px;
  color: #1F2937;
}

.signup-link {
  color: #3182F6;
  text-decoration: underline #3182F6;
}

.fail-login-blank,
.fail-login-email,
.fail-password-blank,
.fail-password-length {
  color: #F74747;
  font-size: 15px;
  font-weight: 600;
  margin-left: 16px;
}

.fail-layout {
  border: 2px solid;
  border-color: #F74747;
}

@media (min-width: 375px) and (max-width: 767px) {
  .login-header {
    height: 66px;
    margin-top: 24px;
  }

  .login-header img {
    width: 198px;
    height: 66px;
  }

  .login-main {
    margin-top: 24px;
  }

  .login-layout {
    width: 90vw;
    max-width: 640px;
    padding-left: 24px;
  }
  
  .login-button {
    width: 90vw;
    max-width: 640px;
  }

  .easy-login-section {
    width: 90vw;
    max-width: 640px;
  }
}