.header-container {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	padding: 10px 200px 9px;
	background-color: #ffffff;
	border: 0px 0px 1px 0px;
	border-bottom: 1px solid #DFDFDF;
}

header .desktop-img {
	width: 153px;
	height: 51px;
}

header .mobile-img {
	display: none;
	width: 103px;
	height: 35px;
}

header .login-link {
	border-radius: 8px;
	padding: 14.5px 43px;
	text-decoration: none;
	background-color: var(--brand-blue);
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	cursor: pointer;
}

.banner {
	display: flex;
	width: 100%;
	height: 540px;
	background: var(--background-blue);
	background-image: url('/images/Img_home_top@3x.png');
	background-repeat: no-repeat;
	background-size: 996px 447px;
	background-position: bottom 0 right 20%;
}

.banner.bottom {
	background-image: url('/images/Img_home_bottom@3x.png');
	background-size: 996px 540px;
}

.banner-container {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 1200px;
}

.banner-info {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.banner-info h1 {
	color: var(--gray-700);
	text-align: left;
}

.banner-info h1 span {
	display: block;
}

.banner-info a {
	display: flex;
	justify-content: center;
	padding: 16px 125px;
	background: var(--brand-blue);
	border-radius: 9999px;
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
	white-space: nowrap;
}

.content-container {
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
}

.content {
	display: flex;
	align-items: center;
	gap: 64px;
	height: 720px;
}

.content.content-right {
	justify-content: end;
}

.content.content-right img {
	order: 1;
}

.content img {
	width: 588px;
	height: 444px;
}

.content-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 12px;
}

.content-right .content-text {
	align-items: end;
	text-align: end;
}

.content-text .badge {
	font-size: 18px;
	font-weight: 700;
	line-height: 25.2px;
	color: var(--brand-blue);
}

.content-text h1 {
	display: flex;
	flex-direction: column;
	letter-spacing: 0.02em;
	color: var(--gray-700);
}

.content-text p {
	display: flex;
	flex-direction: column;
	font-size: 24px;
	font-weight: 500;
	line-height: 28.8px;
	letter-spacing: 0.08em;
}

.footer-container {
	display: grid;
	grid-template-areas:
		"copyright etc messenger";
	justify-content: space-between;
	background: var(--gray-900);
	color: white;
	padding: 32px 200px 108px;
}

.footer-container a {
	text-decoration: none;
}

.footer-container .copyright {
	grid-area: copyright;
	color: #676767;
}

.footer-container .etc {
	grid-area: etc;
	display: flex;
	gap: 20px;
}

.footer-container .etc a {
	color: #CFCFCF;
}

.footer-container .messenger {
	grid-area: messenger;
	display: flex;
	gap: 12px;
}

.footer-container>div {
	justify-content: space-between;
}

.auth_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	width: 640px;
	margin: 60px auto 0;
	color: var(--gray-800);
}

.auth_form form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}

.auth_form-el {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.auth_form-el .check-password {
	position: absolute;
	bottom: 16px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	background-color: transparent;
}

label {
	font-size: 18px;
	font-weight: 700;
	line-height: 21.48px;
	text-align: left;
}

input {
	width: 100%;
	padding: 16px 24px;
	border: 0;
	border-radius: 12px;
	background: var(--gray-100);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--gray-800);
}

input:focus {
	outline: 1px solid var(--brand-blue);
}

input::placeholder {
	color: var(--gray-400);
}

.auth_form .submit-button {
	padding: 16px 124px;
	background: var(--brand-blue-inactive);
	border: 0;
	border-radius: 40px;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
}

.login-easy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 74px;
	padding: 16px 23px;
	background: #E6F2FF;
	border-radius: 8px;
}

.login-easy div {
	display: flex;
	gap: 16px;
}

.question {
	text-align: center;
}

.question a {
	color: #3182f6;
}

@media (max-width: 1199px) {
	.header-container {
		padding: 10px 24px 9px;
	}

	.footer-container {
		padding: 32px 104px 108px;
	}

	.banner {
		align-items: start;
		height: 771px;
		padding-top: 84px;
		background-position: bottom 0 center;
	}

	.banner.bottom {
		height: 927px;
		padding-top: 201px;
	}

	.banner-container {
		display: flex;
		justify-content: center;
		align-items: start;
		width: 100%;
	}

	.banner-info {
		align-items: center;
		gap: 24px;
	}

	.banner-info h1 span {
		display: inline;
	}

	.banner.bottom h1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		gap: 64px;
		width: 696px;
		padding: 24px 0 80px;
	}

	.content {
		flex-direction: column;
		align-items: start;
		gap: 20px;
		height: 100%;
	}

	.content img {
		width: 696px;
		height: 524px;
	}

	.content.content-right img {
		order: 0;
	}

	.content.content-right .content-text {
		align-self: end;
	}

	.content-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 12px;
	}

	.content-text .badge {
		font-size: 18px;
		font-weight: 700;
		line-height: 25.2px;
		color: var(--brand-blue);
	}

	.content-text h1 {
		display: block;
		font-family: "Pretendard Variable";
		font-size: 32px;
		font-weight: 700;
		line-height: 44.8px;
		letter-spacing: 0.02em;

	}

	.content-text p {
		display: flex;
		flex-direction: column;
		font-size: 18px;
		font-weight: 500;
		line-height: 25.2px;
		letter-spacing: 0.08em;
	}
}

@media (max-width: 767px) {
	.header-container .logo-text {
		display: block;
	}

	.footer-container {
		grid-template-areas:
			"etc messenger"
			"copyright .";
		gap: 60px;
		padding: 32px;
	}

	.logo-link .desktop-img {
		display: none;
	}

	.logo-link .mobile-img {
		display: block;
	}

	.banner {
		height: 540px;
		background-size: auto 281px;
		padding-top: 48px;
	}

	.banner.bottom {
		height: 540px;
		background-size: auto 269px;
		padding-top: 121px;
	}

	.banner-info h1 {
		font-size: 32px;
		font-weight: 700;
		line-height: 44.8px;
		text-align: center;
	}

	.banner-info h1 span {
		display: block;
	}

	.banner-info a {
		padding: 16px 20px;
		font-size: 16px;
		font-weight: 600;
		line-height: 19.09px;
	}

	.content-container {
		width: 344px;
		padding: 51px 0 64px;
	}

	.content img {
		width: 344px;
		height: 259px;
	}

	.content .badge {
		font-size: 16px;
		font-weight: 700;
		line-height: 22.4px;
	}

	.content h1 {
		font-size: 24px;
		font-weight: 700;
		line-height: 33.6px;
		letter-spacing: 0.02em;
	}

	.content p {
		font-size: 16px;
		font-weight: 500;
		line-height: 19.2px;
		letter-spacing: 0.08em;
	}

	.auth_form {
		max-width: 400px;
		width: auto;
	}

	.auth_form .logo {
		width: 198px;
		height: 66px;
	}

	label {
		font-size: 14px;
		font-weight: 700;
		line-height: 16.71px;
	}
}