@import '../../../../styles/global.scss';
.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin: 0;
}

.tag-list__tag {
  display: flex;
  align-items: center;
  margin: 12px 12px 0 0;
  padding: 6px 16px;
  border-radius: 26px;
  color: $gray-800;
  background-color: $gray-50;
}
