/*================header================*/
header {
  background-color: var(--gray-00);
  display: flex;
  padding: 10px 200px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--header-underline-color);
}

/*================header-left-wrapper================*/
.header-left-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

/*================header-left================*/
.header-logo-img {
  display: inline-block;
  width: 153px;
  height: 51px;
  cursor: pointer;
}

.header-typo-img {
  display: none;
  width: 103px;
  height: 51px;
  cursor: pointer;
}

/*================header-left-nav================*/
.item-page-header-nav {
  display: flex;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  justify-content: center;
  text-align: center;
  color: var(--cool-gray-600);
}

.item-page-header-nav > div {
  width: 109px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
}

.item-page-header-nav > div.active {
  color: var(--brand-blue);
}

/*================pfp-image================*/
.user-pfp-img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

/*================button================*/
.blue-button {
  border: none;
  background-color: var(--brand-blue);
  color: var(--gray-00);
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.login-link-button.main {
  border-radius: 8px;
  font-size: 16px;
  width: 128px;
  height: 48px;
}

.login-link-button.item {
  border-radius: 8px;
  font-size: 16px;
  width: 88px;
  height: 42px;
}

/*==========Tablet==========*/
@media screen and (max-width: 1199px) {
  /*==========header-left==========*/
  header {
    padding: 10px 24px 10px 24px;
  }
}

/*==========Mobile==========*/
@media screen and (max-width: 767px) {
  /*==========header-left==========*/
  header {
    padding: 10px 16px;
  }

  .header-logo-img {
    display: none;
  }

  .header-typo-img {
    display: inline-block;
  }

  /*==========header-left-nav==========*/
  .item-page-header-nav {
    gap: 8px;
  }

  .item-page-header-nav > div {
    width: auto;
  }
}
