/*==========products-list-header==========*/
.sales-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

/*==========products-title==========*/
.sales-products-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--cool-gray-800);
  margin-bottom: 16px;
}

/*==========producst-menu==========*/
.sales-products-menu-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.sales-products-menu-group.mobile {
  display: none;
}

/*==========search-bar==========*/
.sales-search-bar {
  width: 325px;
  height: 42px;
  border-radius: 12px;
  background-color: var(--cool-gray-100);
  padding: 9px 16px 9px 44px;

  background-image: url("../../assets/ic_search.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 16px center;

  color: var(--cool-gray-400);
  font-size: 16px;
  font-weight: 400;
}

/*==========button==========*/
.register-item-button {
  width: 133px;
  height: 42px;
  border: none;
  background-color: var(--brand-blue);
  color: var(--gray-00);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

/*==========order-select==========*/
.product-order-select-box {
  position: relative;
  width: 130px;
  height: 42px;
  padding: 9px 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid var(--cool-gray-200);
  border-radius: 12px;
  background-image: url("../../assets/ic_arrow_down.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 86px center;
  cursor: pointer;
}

.product-order-select-options {
  position: absolute;
  top: 46px;
  left: -2px;
  display: none;
  flex-direction: column;
  background-color: var(--gray-00);
  border: 1px solid var(--cool-gray-200);
  border-radius: 12px;
}

.product-order-select-options > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 42px;
  text-align: center;
}

.product-order-select-options > div:not(:last-child) {
  border-bottom: 1px solid var(--cool-gray-200);
}

/*==========products-grid==========*/
.sales-products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 24px;
}

/*==========Tablet==========*/
@media screen and (max-width: 1199px) {
  /*==========products-grid==========*/
  .sales-products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*==========Mobile==========*/
@media screen and (max-width: 767px) {
  /*==========products-grid==========*/
  .sales-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
