:root {
  --gray-scale-900: #111827;
  --gray-scale-800: #1f2937;
  --gray-scale-700: #374151;
  --gray-scale-600: #4b5563;
  --gray-scale-500: #6b7280;
  --gray-scale-400: #9ca3af;
  --gray-scale-200: #e5e7eb;
  --gray-scale-100: #f3f4f6;
  --gray-scale-50: #f9fafb;

  --default-primary: #3692ff;
  --default-error: #f74747;

  --banner-bg: #cfe5ff;

  --btn-color-hover: #1967d6;
  --btn-color-active: #1251aa;
  --btn-color-inactive: #9ca3af;
}

/* 컴포넌트 */

.btn--large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 355px;
  height: 56px;
  border: none;
  border-radius: 40px;
  background-color: var(--default-primary);
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

.btn--small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 128px;
  height: 48px;

  text-decoration: none;
  font-weight: 600;
  color: #ffffff;

  border-radius: 8px;
  background: var(--default-primary);
}
