.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 20rem;
  z-index: 999;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
}

.mainHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.logoBox {
  margin-right: 32px;
}
.headerNav {
  display: flex;
  align-items: center;
}

.mobileLogo {
  display: none;
}
.profile {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  cursor: pointer;
}
.logoutContainer {
  position: absolute;
  top: 60px;
  right: 0px;
  padding: 1.6rem 4.15rem;
  border: 1px solid var(--color-gray300);
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
.logoutBtn {
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
}
/* header */

@media (max-width: 1199px) {
  .header {
    padding: 0 2.4rem;
  }
  .profile {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  /* 메인 페이지 */
  .header {
    padding: 0 1.6rem;
  }
  .logo {
    display: none;
  }
  .mobileLogo {
    display: block;
  }
  .mobileLogo > img {
    width: 81px;
  }
  .logoBox {
    margin-right: 16px;
  }
}
