@import "/src/assets/css/variables";
@import "/src/assets/css/mixin";

.section {
  width: 100%;
  height: 100%;
  margin-top: $header-h;
}

.wrap {
  padding: 1rem;
  @include wrap-style(1920px, 360px);
}

.list {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.title {
  margin-bottom: 1rem;
  font-size: $fs-600;
  font-weight: $fw-700;
  color: $clr-gray-900;
}

.item {
  display: flex;
  flex-direction: column;
}

.img {
  align-self: center;
  width: 282px;
  height: 282px;
}

.description {
  font-size: $fs-300;
  font-weight: $fs-500;
  color: $clr-gray-800;
}

.price {
  font-weight: $fw-700;
  font-size: $fs-400;
  color: $clr-gray-800;
}

.likeWrap {
  display: flex;
  column-gap: 4px;
  color: $clr-gray-600;
}

.likeText {
  font-size: $fs-200;
}
