:root {
  --color-basic-primary: #3692ff;
  --color-basic-hover: #1967d6;
  --color-basic-active: #1251aa;
  --color-basic-inactive: #9ca3af;
  --color-basic-gray: #9ca3af;
  --color-basic-bg: #cfe5ff;
  --color-footer-bg: #111827;
}

.btn--small {
  width: 128px;
  height: 48px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--color-basic-primary);
}

.btn--large {
  width: 355px;
  height: 56px;
  padding: 16px 122px;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--color-basic-primary);
}

@media (hover: hover) {
  button:hover {
    background-color: var(--color-basic-hover);
  }
}

html {
  font-family: "Pretendard";
}

ul {
  margin: 0;
  padding: 0;
}

/* index.html */

.wrap {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 1560px;
  width: 100%;
}

.nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1520px;
  height: 70px;
  padding: 0;
  list-style-type: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
}

.banner__items {
  list-style-type: none;
}

.banner__img {
  align-self: flex-end;
}

.banner__overlay {
  z-index: -1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 540px;
  background-color: var(--color-basic-bg);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
  width: 1200px;
  padding: 137px;
}

.main__overlay {
  position: absolute;
  top: 16px;
  right: 264px;
  font-size: 32px;
  font-weight: 700;
  text-wrap: nowrap;
  color: var(--color-basic-primary);
}

.main__article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  align-items: center;
}

.main__content {
  small {
    color: var(--color-basic-primary);
    font-size: 18px;
  }
  h2 {
    font-size: 40px;
  }
  font-size: 24px;
  font-weight: 700;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 540px;
  background-color: var(--color-basic-bg);
  font-size: 40px;
}

.bottom__img {
  align-self: flex-end;
}

.reverse {
  direction: rtl;
}

.footer {
  width: 100%;
  height: 160px;
  background-color: var(--color-footer-bg);
}

.footer__items {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;
  list-style-type: none;
}

.footer__item:nth-of-type(1) {
  color: var(--color-basic-gray);
}

.footer__item:nth-of-type(2) {
  display: flex;
  column-gap: 59px;
  color: #ffffff;
}

.footer__item:nth-of-type(3) {
  display: flex;
  column-gap: 0.8rem;
}

button[id], a[id] {
  cursor: pointer;
}
