@import "/src/assets/css/variables";
@import "/src/assets/css/styles";

.section {
  width: 100%;
  height: $banner-h;
  background: $clr-banner;
}
.wrap {
  @include wrap-style(1920px, 200px);
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.list > :nth-child(1) {
  position: relative;
  text-align: center;
  z-index: 2;
}

.list > :nth-child(2) {
  position: relative;
  max-width: 996px;
  width: 100%;
  z-index: 1;
}

.imgWrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.img {
  position: absolute;
  bottom: 0;
  max-width: 996px;
  max-height: 540px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  @include text-style($fs-800, $fw-700, $clr-black);
  margin: 48px 1rem 18px 1rem;
}

@media screen and (min-width: 1257px) {
  .list > :nth-child(1) {
    align-self: center;
  }
}
