.home_footer {
  height: 16rem;
  padding: 3.2rem 20rem;
  background-color: var(--cool-gray);

  display: flex;
  justify-content: space-between;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.909rem;
  text-align: center;
  color: var(--cool-gray-200);

  & .home-footer-buttons,
  .home-footer-sns {
    display: flex;
  }

  & .home-footer-buttons {
    gap: 3rem;
  }

  & .home-footer-sns {
    gap: 1.2rem;

    & img {
      height: 2rem;
      width: 2rem;
      object-fit: scale-down;
    }
  }
}
