@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

* {
  box-sizing: border-box;
  margin: 0;
  flex-shrink: 0;
}

html {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, sans-serif;
  font-size: 16px;  
}

:root {
  --fff : #fff;
  --000 : #000;
  --click: #1251AA;
  --brand: #3692FF;
  --banner: #CFE5FF;
  --coolgray-200: #E5E7EB;
  --coolgray-400: #9CA3AF;
  --coolgray-700: #374151;
  --coolgray-900: #111827;
  --error: #F74747;
}


  /* header */
.gnb {
  position: fixed;
  background-color: var(--fff);
  height: 70px;
  width: 100%;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 2;
}

.logo {
  background-image: url(/assets/images/logo_pandamarket.png);
  background-size: cover;
  width: 153px;
  height: 51px;
}


  /* main banner */
.banner-background {
  background-color: var(--banner);
  margin-top: 70px;
  height: 540px;
}

.banner-container {
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 200px;
}

.banner-img {
  max-height: 547px;
  max-width: 996px;
  width: 100%;
  height: auto;
  padding: 93px 0 0 ;
  margin-top: auto;
  margin-right: 200px;
}

img.banner-bottom {
  max-height: 540px;
  padding: 0;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  gap: 24px;
  color: var(--coolgray-700);
  z-index: 1;
}

.banner-content>p {
  display: flex;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 700;
}

div.banner-bottom>p {
  text-align: right;
}


/* main content*/
.content-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 138px auto 5%;
  gap: 138px;
}

.content-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;;
}

.content-container-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  margin: 138px 0;
  gap: 64px;
}

.content-container>img,
.content-container-search>img {
  width: 50%;
  height: auto;
}

.content {
  color: var(--coolgray-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 350px;
  gap: 12px;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.topic {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--brand);
}

.explane {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.explane-sub {
  font-size: 1.5rem;
  line-height: 1.8rem;
}


/* footer */
footer {
  display: flex;
  flex-direction: column;
}

.footer_container {
  background: var(--coolgray-900);
  display: flex;
  flex: 1 0 240px;
  justify-content: space-between;
  font-size: 1rem;
  padding: 32px 200px;
}

.footer_container>.middle_wrap {
  display: flex;
  gap: 30px;
}

.footer_container a {
  color: var(--coolgray-200);
  text-decoration: none;
}

.footer_container>:nth-child(1){
  color: var(--coolgray-400);
}


/* button controler */
.small,
.large {
  background-color: var(--brand);
  flex-shrink: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.small {
  padding: 11.5px 23px;
  border-radius: 8px;
}

.large {
  padding: 16px 124px;
  border-radius: 40px;
}

.button {
  text-decoration: none;
}

.button:hover {
  background-color: var(--brand);
}

.button:visited {
  background-color: var(--coolgray-400);
}

.button:active {
  background: var(--click);
}


/* icon */
.messengers {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.ic-facebook,
.ic-twitter, 
.ic-youtube,
.ic-instagram {
  display: inline-block;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.ic-facebook {
  background-image: url(/assets/icons/ic_facebook.png);
}

.ic-twitter {
  background-image: url(/assets/icons/ic_twitter.png);
}

.ic-youtube {
  background-image: url(/assets/icons/ic_youtube.png);
}

.ic-instagram {
  background-image: url(/assets/icons/ic_instagram.png);
}


/* mediaQuery */
@media (max-width: 767px){
  /* mobile */
  .gnb {
    padding: 0 16px;
  }

  .logo {
    background-image: url(/assets/images/logo_name.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 103px;
    height: 30px;
  }

  .banner-background {
    padding-top: 48px;
    height: auto;
  }

  .banner-background-bottom {
    padding-top: 121px;
    height: auto;
  }

  .banner-background {
    padding-top: 121px;
    height: auto;
  }

  .banner-container {
    flex-direction: column;
    height: auto;
    margin: 0;
    gap: 60px;
  }

  .banner-content {
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .banner-content>p {
    width: 240px;
    font-size: 2rem;
  }
  
  .banner-img {
    min-width: 626px;
    margin: auto 0 0;
    padding: 0;
  }

  .button.large {
    display: flex;
    justify-content: center;
    width: 154px;
    padding: 16px 20px;
  }

  .content-wrap {
    margin: 138px 16px;
    align-items: center;
    min-width: 400px;
  }

  .content-container,
  .content-container-search{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 32px;
  }

  .content-container>img,
  .content-container-search>img {
   width: 100%;
  }

  .content-container-search {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 16px 0;
  }

  .content {
    flex: 1 0;
    gap: 0;
  }

  .text-wrap {
    gap: 0;
  }

  .topic,
  .explane-sub {
    font-size: 1rem;
  }

  .explane {
    font-size: 1.5rem;
  }

  div.banner-bottom>p {
    text-align: center;
  }
  
  .footer_container {
    padding: 32px 50px;
    position: relative;
  }

  .footer_container>.middle_wrap {
    flex: 1.2 0;
    justify-content: space-between;
  }

  .messengers {
    flex: 1 0;
    justify-content: flex-end;
  }

  .footer_container>span {
    position: absolute;
    bottom: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* tablet */
  .gnb {
    padding: 0 24px;
  }

  .banner-background {
    padding-top: 84px;
    height: auto;
  }

  .banner-background-bottom {
    padding-top: 201px;
    height: auto;
  }

  .banner-container {
    flex-direction: column;
    height: auto;
    gap: 100px;
  }

  .banner-content {
    align-items: center;
    text-align: center;
    margin: 0;
  }
  
  .banner-img {
    min-width: 996px;
    padding: 0;
    margin: auto 0 0;
  }

  .button.large {
    display: flex;
    justify-content: center;
    width: 355px;
    padding: 16px 20px;
  }

  .content-wrap {
    margin: 24px 24px;
    align-items: center;
    min-width: 400px;
    gap: 48px;
  }

  .content-container,
  .content-container-search{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
  }

  .content-container>img,
  .content-container-search>img {
   width: 100%;
  }

  .content-container-search {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 16px 0;
  }

  .content {
    flex: 1 0;
  }

  .explane-sub {
    font-size: 1.2rem;
  }

  .explane {
    font-size: 2rem;
  }

  div.banner-bottom>p {
    text-align: center;
    width: 295px;
  }
  
  .footer_container {
    padding: 32px 50px;
  }
} 