
@media (max-width : 1199px) {
    header{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        border-bottom: 1px solid #dfdfdf;
      }

      body {
        margin-top: 70px;
      }
     
      
      section.top-section {
        height: 771px;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: center;
      }

      .top-section .ment {
        width: 100%;
      }
      
      
      .top-section > .container {
        width: 1200px;
        margin-top: 10%;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
      }
      
      .main-section {
        margin: 70px auto;
        width: 100%;
        display: block;
      }

      .main-section div {
        margin: 20px;
      }
      
      .main-section > .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      
      .search.text {
        text-align: right;
      }
      
      #hot-item-img,
      #search-img,
      #resister-img {
        display: block;
        width: 100%;
      }
      
      section.bottom-section {
        background-position: bottom;
        height: 927px;
      }
      
      .bottom-section > .container {
        width: 1200px;
        margin-top: 30%;
        font-family: Pretendard;
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        text-align: center;
      }
      
      
      .footer-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 100px 108px 50px;
        margin: 0 auto;
      }
   
      
      
      /* text decoration */
      
      .title {
        font-size: 18px;
      }
      
      .main-section .ment-doit {
        font-size: 32px;
      }
      
      .small-ment-doit {
        font-size: 18px;
      }
  
  }