* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Pretendard, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
    /* Sprint Mission 2 기본 요구사항:
    아래로 스크롤 해도 상단 네비게이션 바(Global Navigation Bar)가 최상단에 고정됩니다. */
    position: fixed;
    top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: bottom;
}

.button {
    background-color: #3692FF;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #1967d6;
}

#login-link-button {
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 11.5px 23px;
}

.banner {
    background-color: #cfe5ff;
    height: 540px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 80% bottom;
    background-size: 55%;
}

#hero {
    background-image: url(images/Img_home_hero.png);
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
}

.pill-button {
    font-size: 20px;
    font-weight: 700;
    border-radius: 999px;
    margin-top: 32px;
    padding: 16px 124px;
}

#contents {
    padding-bottom: 138px;
}

.content {
    padding: 138px 0;
    display: flex;
    align-items: center;
    gap: 5%;
}

.content:nth-child(2) {
    text-align: right;
}

.content-text {
    flex: 1;
}

.content-tag {
    color: #3692ff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 12px;
}

.content-description {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.08em;
    margin-top: 24px;
}

#bottom {
    background-image: url(images/Img_home_bottom.png);
}

footer {
    background-color: #111827;
    color: #9ca3af;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 200px 108px 200px;
    font-size: 16px;
}

#footer-text {
    display: flex;
    gap: 30px;
    color: #e5e7eb;
}

#social-media {
    display: flex;
    gap: 12px;
}

