:root {
  /* brand color */
  --brand-blue: #3692ff;
  --brand-hover-blue: #1967d6;
  --brand-active-blue: #1251aa;

  /* error */
  --error-red: #f74747;
  /* Cool Gray */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}
button {
  border: none;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 20px;
  background-color: var(--brand-blue);
  color: #ffffff;
  width: 128px;
}
.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 540px;
  background-color: #cfe5ff;
  background-image: url(image/banner-img.png);
  background-position: 70% bottom;
  background-size: 50%;
  background-repeat: no-repeat;
}
.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.banner-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-700);
}
.banner-btn {
  background-color: var(--brand-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border-radius: 40px;
  padding: 16px 124px;
  color: #ffffff;
}
.banner-btn:hover,
.login-btn:hover {
  background-color: var(--brand-hover-blue);
}
.banner-btn:active,
.login-btn:active {
  background-color: var(--brand-active-blue);
}
.banner-btn:disabled,
.login-btn:disabled {
  background-color: var(--gray-400);
}
#bottom-banner {
  background-image: url(image/banner-img2.png);
}
.contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 130px;
}
.content {
  display: flex;
  padding: 130px 0;
  align-items: center;
  gap: 64px;
}

.content-textBox {
  flex: 1;
}
.content-keyword {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: var(--brand-blue);
}
.content-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 2%;
}
.content-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 8%;
}
.content:nth-child(2) {
  text-align: right;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-900);
  width: 100%;
  padding: 32px 200px 100px 200px;
  font-size: 16px;
}
.footer-company {
  color: var(--gray-400);
}
.footer-links {
  display: flex;
  gap: 30px;
  color: var(--gray-200);
}
.footer-social-links {
  display: flex;
  gap: 12px;
}
