@font-face {
    font-family: 'Pretendard-Regular', 'Noto Sans';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: #3692FF;
    --error-red: #F74747;
    --background-color: #CFE5FF;
    --footer-color: #111827;
    --font: #374151;
    --font-buton: #ffffff;
    --font-footer: #9ca3af;
}


body {
    max-width: 1920px;
    width: 100%;
    color: var(--font);
    font-family: "Pretendard-Regular", 'Noto Sans';
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

h3 {
    text-decoration: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

main section {
    width: 1200px;
    height: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.btn {
    background-color: var(--main-color);
    color: var(--font-buton);
    font-size: 16px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

header .login {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 20px;
}


.headline, .footline {
    background-color: var(--background-color);
}

.headline .headline-content,
.footline .footline-content {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline .headline-title,
.footline .footline-title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    gap: 32px;
}



.headline{
    padding-top: 100px;
}

.headline .headline-btn {
    border-radius: 40px;
    padding: 16px 124px;
}

.container {
    display: flex;
    align-items: center;
    gap: 64px;
}

.category {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 700;
}

.container > img {
    width: 588px;
    height: 444px;
}

.container .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container .section-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.08rem;
}


.container .section-description {
    line-height: 28.8px;
    letter-spacing: 8%;
}

.search {
    align-items: end;
}

.search .container {
    flex-direction: row-reverse;
    
}

.search .container .content {
    align-items: end;
    text-align: right;
}

footer .bottom-info{
    background-color: var(--footer-color);
    max-width: 1920px;
    height: 160px;
    padding: 32px 200px;
}

.bottom-info .bottom-content {
    display: flex;
    justify-content: space-between;
    color: var(--font-footer);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    align-items: center;
}

.bottom-content .bottom-nav {
    display: flex;
    gap: 30px;
    text-decoration: none;

}

.bottom-nav a {
    color: var(--font-footer);
    cursor: pointer;
}

.bottom-content .sns {
    display: flex;
    gap: 12px;
    width: 116px;
}