*{
  box-sizing: border-box;
  margin: 0;
}

html{
  font-family: "pretendard";
}

header img{
  width: 396px;
  height: 132px;
  margin: 60px auto 40px;
}

body {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 640px;
  height: 430px;
  margin: 0 auto;
}

input, .login {
  width : 640px;
  height: 56px;
  border: none;
}

label {
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  margin-bottom: 16px;
}

input {
  background-color: #f3f4f6;
  border-radius: 12px;
}

.password {
  position: relative;
}

#signup-email:focus{
  outline: 1px solid #3182F6;
}

#signup-password:focus{
  outline: 1px solid #3182F6;
}

.password-incon {
  width: 24px;
  height: 24px;
  background-image: url(/image/icon/Property\ 1=Variant2.png);
  background-size: cover;
  cursor: pointer;
  border: none;
  padding: 0;
  position: absolute;
  top: 53px;
  right : 25px;
  background-color: #f3f4f6;
}

.login {
  background: #9CA3AF;
  padding: 16px 124px 16px 124px;
  border-radius: 40px;
  color : #ffffff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.easy-login {
  background: #E6F2FF;
  width: 640px;
  height: 74px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form ::placeholder {
padding : 16px 24px;
font-family: "Pretendard";
font-size: 16px;
font-weight: 400;
}

.easy-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 393px;
}

.easy-login-icon {
  display: flex;
  gap: 16px;
}

.footer {
  font-size: 15px;
  font-weight: 500;
}

.footer a{
  color: #3182F6;
  font-size: 15px;
  font-weight: 500;
}

.login:hover{
  background-color: #3692ff;
}