@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./asset/font/PretendardVariable.woff2') format('woff2-variations');
}

* {
  box-sizing: border-box;
  margin: 0;
  flex-shrink: 0;
  font-size: 1em;
}

body {
  background: #FCFCFC;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, sans-serif;
}

:root {
  --fff : #fff;
  --000 : #000;
  --click: #1251AA;
  --blue: #3182F6;
  --brand: #3692FF;
  --banner: #CFE5FF;
  --coolgray-50: #F9FAFB;
  --coolgray-100: #F3F4F6;
  --coolgray-200: #E5E7EB;
  --coolgray-400: #9CA3AF;
  --coolgray-700: #374151;
  --coolgray-800: #1F2937;
  --coolgray-900: #111827;
  --error: #F74747;
}

/* main */
main {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 60px auto;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 18px;

}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}

input:focus {
  outline: 1px solid var(--brand);
}

.login label {
  font-weight: bold;
}

.login input {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, sans-serif;
  background: #F3F4F6;
  border: none;
  border-radius: 12px;
  height: 56px;
  padding: 15px;
}

.pw-container {
  position: relative;
}

.btn-off {
  position: absolute;
  right: 20px;
  top: 52px;
  width: 24px;
  height: 24px;
}

.login-messenger {
  background-color: #E6F2FF;
  color: var(--coolgray-800);
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 16px;
  height: 74px;
}

.messengers {
  display: flex;
  gap: 16px;
}

.messengers img {
  width: 42px;
  height: 42px;
}

.signup {
  color: var(--coolgray-800);
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  gap: 4px;
}

.signup>a {
  color: var(--click);
}

/* button controler */
.button {
  display: flex;
  flex: 1;
  justify-content: center;
  background: var(--blue);
  color: var(--fff);
  border-radius: 40px;
  border: none;
  padding: 16px 124px;
  font-size: 20px;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, sans-serif;
}

.button:visited {
  background-color: var(--coolgray-400);
}

.button:active {
  background: var(--click);
}