
  

}



/* 
@media screen and (min-width:1200px) {
  html {
   
  }
} */
/* 
@media screen and (min-width:768px) and (max-width:1199px) {
  html {
 
  }
  
}

@media screen and (min-width: 375px) and (max-width:767px) {
  html {

  }
}

@media screen and (max-width:374px) {
  html {

  }
} */