* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --btn-hover: #1967d6;
  --btn-focus: #1251aa;
  --btn-disabled: #9ca3af;
  
  --body-bs-txt-color: #374151;
  --header-bg-color: #ffffff;
  --header-bd-color: #dfdfdf;
  --btn-bg-color: #3692ff;
  --btn-txt-color: #ffffff;
  --banner-bg-color: #cfe5ff;
  --content-s-txt-color: #3692ff;
  --footer-bg-color: #111827;
  --footer-bs-txt-color: #9ca3af;
  --btm-txt-link-color: #e5e7eb;
}

.button:hover {
  background-color: var(--btn-hover);
}

.button:focus {
  background-color: var(--btn-focus);
}

.button:disabled {
  background-color: var(--btn-disabled);
  cursor: default;
  pointer-events: none;
}

body {
  color: var(--body-bs-txt-color);
  white-space: nowrap;
  font-family: "pretendard";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--header-bd-color);
}

main {
  margin-top: 70px;
}


.button {
  background-color: var(--btn-bg-color);
  color: var(--btn-txt-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#loginButton {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
}

.banner {
  height: 60vh;
  text-align: center;
  background-color: var(--banner-bg-color);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 130%;
}

.banner h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  padding-top: 48px;
  padding-bottom: 18px;
}

.inside {
  font-size: 16px;
  font-weight: 600;
  border-radius: 999px;
  padding: 15px 34px;
}

#topBannerPanda {
  background-image: url("img/topPanda_img.png");
}

.limited-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

#contents {
  padding-top: 51px;
}

.content {
  margin-bottom: 64px;
}

.contentImg {
  width: 100%;
  margin-bottom: 20px;
}

.contentText {
  flex: 1;
}

.contentText h2 {
  color: var(--content-s-txt-color);
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

.contentText h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.contentExplain {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.08em;
  margin-top: 20px;
}

.content:nth-child(2) {
  text-align: right;
}

#bottomBannerPanda {
  background-image: url("img/bottomPanda_img.png");
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-bs-txt-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  font-size: 16px;
  gap: 60px
}

.codeit2024 {
  order: 3;
  flex-basis: 100%;
}

#bottomThings {
  display: flex;
  gap: 30px;
}

.bottomTextLink {
  color: var(--btm-txt-link-color);
}


#iconLink {
  display: flex;
  gap: 12px;
}

.footerIcon {
  width: 20px;
}