@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;

  --blue: #3692ff;
  --bg-skyblue: #cfe5ff;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.header-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.header-nav {
  display: flex;
  padding: 0 200px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 0 8.5px;
}
.header-logo img:first-child {
  width: 40px;
}
.header-logo img:last-child {
  width: 103px;
}

.header-login {
  background-color: var(--blue);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  width: 128px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-login:hover {
  background-color: var(--gray-400);
}

.main-whole {
  padding-top: 70px;
}
.main-top {
  width: 100%;
  height: 610px;
  background-color: var(--bg-skyblue);
  background-image: url(./images/header-panda.png);
  background-repeat: no-repeat;
  background-position: 75% bottom;
}

.top-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 100%;
  color: var(--gray-700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.top-btn {
  display: inline-block;
  width: 357px;
  height: 56px;
  padding: 16px 124px;
  gap: 10px;
  border-radius: 40px;
  color: #fff;
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
.top-btn:hover {
  background-color: var(--gray-400);
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-img,
.main-txt {
  cursor: pointer;
}

.main-sections {
  display: flex;
  padding: 138px 0;
  gap: 0 64px;
  margin: 0 auto;
  width: 1200px;
}

.main-sections:nth-child(2) {
  flex-direction: row-reverse;
  text-align: right;
}

.main-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px 0;
  flex-shrink: 0;
  color: var(--gray-700);
}

.section-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: var(--blue);
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}

.section-detail {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.08em;
  margin-top: 12px;
}

.main-bottom {
  margin-top: 138px;

  width: 100%;
  height: 540px;
  background: var(--bg-skyblue) url(./images/main-bottom.png) no-repeat 80%
    bottom;
}

.bottom-inner {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-700);
}

.footer-container {
  background-color: var(--gray-900);
  height: 160px;
}

.footer-inner {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-200);
  display: flex;
  justify-content: space-between;
  padding: 32px 200px;
  max-width: 1920px;
  margin: 0 auto;
}
.footer-left {
  display: inline-block;
  color: var(--gray-400);
}
.footer-mobile {
  display: none;
}
.footer-center {
  display: flex;
  gap: 0 30px;
}

.footer-right {
  list-style: none;
  display: flex;
  gap: 13px;
}

.footer-right li {
  width: 20px;
  height: 20px;
}

.footer-right li:first-child {
  background: url(./images/ic_twitter.png);
}
.footer-right li:nth-child(2) {
  background: url(./images/ic_youtube.png);
}
.footer-right li:nth-child(3) {
  background: url(./images/ic_instagram.png);
}
.footer-right li:last-child {
  background: url(./images/ic_facebook.png);
}

@media (max-width: 1199px) {
  .br-tag {
    display: none;
  }

  .header-nav {
    padding: 0 24px;
  }
  .main-top {
    height: 771px;
    background-position: center bottom;
  }

  .top-inner {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding-top: 84px;
    gap: 24px 0;
  }

  .main-container .main-sections {
    flex-direction: column;
    width: auto;
    padding: 24px 24px 40px;
    margin: 0;
  }
  .main-sections:nth-child(2) {
    text-align: right;
  }

  .main-txt {
    margin-top: 20px;
  }
  .section-title {
    font-size: clamp(32px, 3vw, 40px);
    line-height: 44.8px;
  }
  .section-detail {
    font-size: clamp(18px, 2vw, 24px);
    line-height: 21.6px;
    margin-top: 8px;
  }
  .main-bottom {
    margin-top: 80px;
    height: 927px;
    background-position: center bottom;
  }
  .bottom-inner {
    display: inline-block;
    padding-top: 201px;
    text-align: center;
    width: 100%;
  }

  .footer-inner {
    padding: 32px 104px 0;
  }
}

@media (max-width: 767px) {
  .header-nav {
    padding: 0 16px;
  }
  .main-top {
    height: clamp(540px, 1vw, 700px);
    background-size: 120%;
  }
  .top-inner {
    text-align: center;
    padding-top: 40px;
    gap: 18px 0;
    font-size: 32px;
  }
  .top-btn {
    width: 154px;
    height: 48px;
    font-size: 16px;
    line-height: 19px;
    padding: 14.5px;
  }
  .br-tag.banner-br {
    display: inline;
  }
  .header-logo img:first-child {
    display: none;
    padding: 0 16px;
  }

  .main-container .main-sections {
    padding: 51px 16px 0;
  }

  .section-title {
    font-size: clamp(24px, 3vw, 32px);
    line-height: 44.8px;
  }
  .section-detail {
    font-size: clamp(16px, 2vw, 18px);
  }
  .main-bottom {
    background-size: 100%;
    height: 540px;
  }
  .bottom-inner {
    padding-top: 121px;
  }
  .footer-left {
    order: 1;
  }
  .footer-inner {
    padding: 32px;
    flex-wrap: wrap;
    gap: 60px 0;
  }
  .footer-center {
    width: 48%;
    justify-content: space-between;
  }
  .footer-right {
    width: 50%;
    justify-content: flex-end;
  }
  .footer-center a:first-child {
    flex-shrink: 0;
  }
}