.articleWrapper {
  width: 24rem;
  height: auto;
  padding: 0 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--gray50);
}

.bestBadgeImage {
  margin-bottom: 1rem;
}

.articleHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.125rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--gray800);
}

.productImage {
  border: 0 0 0 0.0625rem var(--gray200) inset;
  border-radius: 0.375rem;
}

.articleDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.writerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.nickname {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: var(--gray600);
}

.likeWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.likeIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likeCount {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: var(--gray500);
}

.createdAt {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: var(--gray400);
}

@media (max-width: 744px) {
  .articleWrapper {
    width: 21.25rem;
  }
}
