.container {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* container */

.wrapper {
  padding-bottom: 138px;
}

.wrapper.bottom {
  padding: 0;
}
/* wrapper */

.bannerContainer {
  position: relative;
  overflow: hidden;
  background: url(../../assets/images/banner.png), #cfe5ff;
  background-repeat: no-repeat;
  background-position: right calc(48% - 220px) bottom 0px;
}

.banner {
  height: 540px;
}

.bannerTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  z-index: 2;
}

.bannerTitle > .title {
  padding-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--color-gray700);
}
.bannerTitle > .visitBtn {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 124px;
  border-radius: 40px;
  background-color: var(--color-blue);
  color: #ffffff;
}
/* banenr */

.contents {
  margin: 138px 0;
}

.itemList {
  display: flex;
  align-items: center;
  gap: 0 64px;
}

.itemList.reverse {
  flex-direction: row-reverse;
}

.itemList.reverse.alignRight > .info {
  text-align: right;
}

.info > .infoTitle {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--color-gray700);
}

.topLine {
  display: inline-block;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: var(--color-blue);
}

.bottomLine {
  display: inline-block;
  padding-top: 24px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.28px;
  line-height: 28.8px;
  color: var(--color-gray700);
}

/* main  */

.commentContainer {
  position: relative;
  overflow: hidden;
  background: url(../../assets/images/comment.png), #cfe5ff;
  background-repeat: no-repeat;
  background-position: right calc(48% - 220px) bottom 0px;
}
.comment {
  height: 540px;
}
.commentTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  z-index: 2;
}
.commentTitle > .title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 56px;
  color: var(--color-gray700);
}

@media (max-width: 1199px) {
  .bannerContainer {
    background-position: center bottom;
    background-size: 996px;
  }
  .banner {
    height: 771px;
  }

  .bannerTitle {
    padding-top: 84px;
    justify-content: flex-start;
    align-items: center;
  }

  .bannerTitle > .title {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 24px;
    line-height: 44.8px;
  }

  .bannerTitle .title > br {
    display: none;
  }

  .bannerTitle > .visitBtn {
    padding: 16px 125px;
  }

  .contents {
    margin: 2.4rem 0 0 0;
  }

  .itemList {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .itemList > img {
    width: 100%;
  }

  .itemList.reverse {
    flex-direction: column;
    align-items: flex-end;
  }

  .info {
    padding: 0;
  }

  .info > .infoTitle > br {
    display: none;
  }

  .topLine {
    padding-bottom: 1.2rem;
  }

  .bottomLine {
    font-size: 2rem;
    padding-top: 2rem;
    line-height: 21.6px;
  }

  .commentContainer {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 996px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .comment {
    height: 927px;
  }

  .commentTitle {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 201px;
  }

  .commentTitle > .title {
    line-height: 56px;
  }

  .commentTitle .title > br {
    display: block;
  }
}
@media (max-width: 768px) {
  .bannerContainer {
    background-position: center bottom;
    background-size: 626.12px;
  }
  .banner {
    height: 540px;
  }
  .bannerTitle {
    padding-top: 48px;
    justify-content: flex-start;
    align-items: center;
  }
  .bannerTitle .title > br {
    display: block;
  }
  .bannerTitle > .title {
    font-size: 3.2rem;
    padding-bottom: 1.8rem;
  }
  .bannerTitle > .visitBtn {
    padding: 13.5px 33.5px;
    font-weight: 600;
    font-size: 1.6rem;
  }

  .contents {
    margin: 5rem 0 0 0;
  }
  .itemList {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .itemList > img {
    width: 100%;
  }

  .itemList.reverse {
    flex-direction: column;
    align-items: flex-end;
  }

  .info {
    padding: 0;
  }

  .info > .infoTitle {
    font-size: 2.4rem;
    line-height: 33.6px;
  }

  .info > .infoTitle > br {
    display: none;
  }

  .topLine {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
  }

  .bottomLine {
    font-size: 1.6rem;
    padding-top: 2rem;
    line-height: 19.2px;
  }

  .commentContainer {
    background-size: 490px;
  }

  .comment {
    height: 540px;
  }

  .commentTitle {
    padding-top: 12rem;
  }

  .commentTitle > .title {
    font-size: 3.2rem;
    line-height: 44.8px;
  }
}
