:root {
  --cool-gray: #374151;
  --brand-gray: #676767;
  --white: #ffffff;
  --brand-blue: #3692ff;
  --pale-blue: #cfe5ff;
  --cool-blue: #e6f2ff;
  --hyper-blue: #3182f6;
  --cool-gray-100: #f3f4f6;
  --cool-gray-200: #e5e7eb;
  --cool-gray-400: #9ca3af;
  --error-red: #f74747;
}
