html {
  /* 웹 접근성을 고려, 브라우저의 기본 폰트 사이즈에 맞춰 폰트 배율이 반영되도록 설정 */
  /* 브라우저의 기본 폰트사이즈는 16px, 10px로 만들어 직관적인 rem 사용을 위해 이를 62.5%만큼 축소 */
  /* 10px = 1.0rem */
  font-size: 62.5%;
  /* 사용자 경험에서 너무 급변하게 화면이 변경되면 거부감이 들 수 있을 것 같아, transition을 추가함 */
  transition: font-size 0.5s ease-in-out;
}

/* PC & 페이지 레이아웃에서 이미지가 가려지기 시작하는 해상도 1200px - 1600px */
@media all and (min-width: 1200px) and (max-width: 1600px) {
  html {
    /* 8px = 1.0rem */
    font-size: 50%;
  }
}

/* Tablet: 768px - 1199pxpx*/
@media all and (min-width: 768px) and (max-width: 1199px) {
  html {
    /* 6px = 1.0rem */
    font-size: 37.5%;
  }
}

/* Mobile : 767px 이하*/
@media all and (max-width: 767px) {
  html {
    /* 5px = 1.0rem */
    font-size: 31.25%;
  }
}
