:root {
    --gray-900: #111827;
    --gray-800: #1f2937;
    --gray-700: #374151;
    --gray-600: #4b5563;
    --gray-500: #6b7280;
    --gray-400: #9ca3af;
    --gray-200: #e5e7eb;
    --gray-100: #f3f4f6;
    --gray-50: #f9fafb;
    
    --blue: #3692ff;
}

* {
    block-size: auto;
}

html {
    font-size: 16px;
    font-weight: 500;
    font-family: "Pretendard-Regular", 'Noto Sans';
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.75rem 0.5rem;
}

.logo > img {
    width: 24.75rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form label {
    display: block;
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--gray-800);
    line-height: 1.3425rem;
}

form input {
    color: var(--gray-400);
    background-color: var(--gray-100);
    font-weight: 400;
    line-height: 1.5rem;
    width: 40rem;
    height: 3.5rem;
    border-radius: 12px;
    border: none;
    padding-left: 1.5rem;
}

form input:focus {
    border: var(--blue);
}

.password {
    position: relative;
}

.hide-icon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin: auto 2px;
    cursor: pointer;
}

#hidden {
    background-image: url(../source/icons/password/btn_visibility_on_24px.svg);
    width: 24px;
    height: 24px;
}

#hidden:active {
    background-image: url(../source/icons/password/btn_visibility_on_24pxshow.svg);
    width: 24px;
    height: 24px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.login-btn {
    background-color: var(--gray-400);
    border-radius: 40px;
    padding: 1rem 7.75rem;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
}

.oauth-login {
    display: flex;
    background-color: #e6f2ff;
    border-radius: 8px;
    padding: 0.5rem 2rem ;
    justify-content: space-between;
}

.oauth-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.oauth-icons img {
    width: 44px;
    height: 44px;
}

.signin {
    text-align: center;
}

