@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;

  --blue: #3692ff;
  --bg-skyblue: #cfe5ff;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.header-container {
  display: flex;
  justify-content: center;
  gap: 24px 0;
  padding-top: 60px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 22.24px;
}
.logo img:first-child {
  width: 103.53px;
}
.logo img:last-child {
  width: 266px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  margin: 0 auto;
  padding-top: 55px;
  gap: 24px 0;
}

.login-form {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}

.login-input {
  display: flex;
  flex-direction: column;
}

.login-input label {
  font-size: 18px;
  margin-bottom: 16px;
  color: var(--gray-800);
}

.login-input input {
  border: none;
  background: var(--gray-100);
  border-radius: 12px;
  padding: 16px 24px;
  font-size: 16px;
  margin-bottom: 24px;
  height: 56px;
  width: 100%;
  font-weight: 400;
  color: var(--gray-800);
}

.login-input input:focus {
  outline: 1px solid var(--blue);
}
.login-input input::placeholder {
  color: var(--gray-400);
}

.pw-container {
  position: relative;
}

.invisible-btn {
  position: absolute;
  top: 15px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  float: right;
  background-image: url(/images/invisible-btn.svg);
  background-color: inherit;
}
/* .visible-btn {
  background-image: url(/images/visible-btn.svg);
} */

.login-btn {
  width: 100%;
  height: 56px;
  border: none;
  text-align: center;
  padding: 16px 0;
  border-radius: 40px;
  background-color: var(--gray-400);
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.easy-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 23px;
  background-color: #e6f2ff;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-800);
}
.easy-login a img {
  width: 42px;
}

.easy-platform {
  display: flex;
  gap: 0 16px;
}

.sign-up {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  color: var(--gray-800);
}

.sign-up a {
  text-decoration: underline;
  color: #3182f6;
}
.sign-up a:visited {
  color: #3182f6;
}

@media (max-width: 767px) {
  .header-container .logo {
    width: 50%;
    gap: 0 11px;
  }
  .login-container {
    margin: 0 auto;
    padding: 32px 16px;
    width: 100%;
    max-width: 400px;
  }
  .login-input label {
    font-size: 14px;
  }
  .login-input input {
    margin-bottom: 16px;
  }
}
