* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Pretendard, sans-serif;
}

:root {
  --blue: #3692ff;
  --red: #f74747;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --sub-color: #cfe5ff;
}

main {
  width: 640px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.login-container {
  width: 100%;
}

.form-content {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
}

input {
  width: 100%;
  border: 0;
  border-radius: 12px;
  background-color: var(--gray100);
  padding: 16px 24px;

  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

input::placeholder {
  color: var(--gray400);
}

.password-show {
  /* display: absolute;
  top: 0;
  bottom: 0;
  right: 0; */
  cursor: pointer;
}

.form-login-btn {
  width: 100%;
  border: 0;
  border-radius: 40px;
  background-color: var(--gray400);
  padding: 16px 294px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}

.login-easy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  margin: 24px 0;
  border-radius: 8px;
  background-color: #e6f2ff;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray800);
}

.login-easy-sns a:first-child {
  margin-right: 16px;
}

.signup {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--gray800);
}

.signup-link {
  font-size: 15px;
  font-weight: 500;
  color: #3182f6;
}
