.allArticles {
  margin: 24px auto;
  width: 1200px;
  position: relative;
}

.allArticlesTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allArticlesTitle > h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #1f2937;
  margin: 0;
}

.writing {
  width: 88px;
  height: 42px;
  padding: 12px 23px;
  border-radius: 8px;
  background-color: var(--blue);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  color: var(--white);
}

.searchForm {
  display: flex;
  margin: 24px 0;
  gap: 16px;
}

/* 게시글 목록 */
.articleList {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 132px;
  left: 0;
  right: 0;
  z-index: -1;
}

.article {
  margin-top: 24px;
  background-color: #fcfcfc;
}

.articleLink {
  text-decoration: none;
}

.titleImage {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: var(--cool-gray-800);
}

.image {
  border-radius: 8px;
  border: 1px solid var(--cool-gray-100);
}

.writer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0 24px;
}

.nickname,
.createdAt {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4b5563;
}

.createdAt {
  color: #9ca3af;
  flex: 1 1 auto;
}

.lineDivider {
  border: solid 1px var(--cool-gray-200);
}

@media (max-width: 1279px) {
  .allArticles {
    width: 696px;
  }

  .searchForm {
    display: flex;
    margin: 48px 0 40px;
    gap: 6px;
  }

  /* 게시글 목록 */
  .title {
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .allArticles {
    width: 343px;
  }

  .allArticlesTitle > h2 {
    font-size: 18px;
    line-height: 26px;
  }

  .searchForm {
    display: flex;
    margin: 16px 0;
    gap: 13px;
  }

  /* 게시글 목록 */
  .article {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
  }
}
