.articleSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titleAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    width: 88px;
    height: 42px;
  }
}
