.container {
  position: fixed;
  top: 1.6rem;
  left: 50%;
  transform: translate(-50%, -80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.1);
  z-index: 11;
}

.container.fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

.container.fadeOut {
  animation: fadeOut 0.5s ease;
}

.message {
  padding: 1.4rem 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-gray700);
}

@keyframes fadeIn {
  from {
    transform: translate(-50%, -80px);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 20px);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translate(-50%, 20px);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -80px);
    opacity: 0;
  }
}
