.like-button-container {
  width: 87px;
  height: 40px;
  padding: 4px 12px;
  border-radius: 35px;
  border: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 62px;
}

.like-button-container > img {
  width: 32px;
  height: 32px;
}

.like-button-favoriteCount {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #6b7280;
  margin: 0;
}
