/* ==== header ==== */

.header {
  width: 100%;

  &.fixed {
    max-width: 100%;
    position: fixed;
    top: 0;
    background: var(--white);
    border-bottom: 1px solid #dfdfdf;
    z-index: 100;
  }

  .header-wrap {
    display: flex;
    width: 100%;
    max-width: calc(1920px - 400px);
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
  }
}

.logo {
  display: block;
  background: url("/img/logo.svg") no-repeat;
  width: 153px;
  height: 48px;
  background-size: contain;
}
@media (max-width: 767px) {
  //스타일 입력
  header {
    .header-wrap {
      padding: 0 16px;
    }
  }

  .logo {
    background: url("/img/m-logo.svg") no-repeat;
    width: 103px;
    height: 51px;
  }
}
@media (max-width: 400px) {
  .logo {
    background: url("/img/sm-logo.svg") no-repeat;
    height: 40px;
    width: 40px;
  }
}
