.item-form {
  width: 1200px;
  margin: 24px auto 40px;
}

@media screen and (max-width: 1199px) {
  .item-form {
    width: auto;
    margin: 16px 24px 40px;
  }
}

@media screen and (max-width: 767px) {
  .item-form {
    margin: 16px 16px 40px;
  }
}
