* {
  word-break: keep-all;
}

.ProductListItem {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ProductListItem-img {
  width: 220px;
  height: 220px;
  border-radius: 16px;
  border-color: gray;
}

.ProductListItem-name {
  font-size: 14px;
  font-weight: 500;
}

.ProductListItem-price {
  font-size: 16px;
  font-weight: 700;
}

.like-section {
  display: flex;
  flex-direction: row;
}

.like-icon {
  width: 13px;
}

.like-count {
  font-size: 12px;
  font-weight: 500;
}
