.btnContainer {
  border-radius: 8px;
  background-color: var(--color-blue);
}

.btnContainer > a {
  display: inline-block;
  padding: 11.5px 23px;
  font-size: 1.6rem;
  font-weight: 600;
  box-sizing: content-box;
  color: #ffffff;
}
