.article {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 0.0625rem var(--gray200);
  background-color: #fcfcfc;
}

.articleHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--gray800);
}

.productImage {
  border: 0 0 0 0.0625rem var(--gray100) inset;
  border-radius: 0.5rem;
}

.articleFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.writerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.nickname {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: var(--gray600);
}

.createdAt {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: var(--gray400);
}

.likeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.likeIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likeCount {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1rem;
  line-height: 1.625rem;
  color: var(--gray500);
}
