.best-item-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  height: 362px;
  gap: 24px;
}

.best-section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--gray900);
  margin-bottom: 20px;
}
