.on-sale-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.on-sale-item-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1201px;
  height: 642px;
  gap: 24px;
}

.on-sale-section-title {
  width: 50%;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--gray900);
}

.on-sale-item-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.on-sale-input {
  width: 325px;
  height: 42px;
  border-radius: 12px;
  padding: 9px 20px 9px 40px;
  background-color: var(--gray100);
  background-image: url(../../../images/ic_search.png);
  background-repeat: no-repeat;
  background-position: 16px;
}

.on-sale-button {
  border-radius: 8px;
  padding: 12px 23px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
}

.on-sale-dropdown {
  border-radius: 12px;
  padding: 12px 20px;
  border: 1px solid var(--gray200);
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 400;
  color: var(--gray800);
}

.on-sale-dropdown option {
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 400;
  color: var(--gray800);
}
