.on-sale-item-header {
  display: flex;
}

.on-sale-item-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1201px;
  height: 642px;
  gap: 24px;
}

.section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #111827;
  margin-bottom: 20px;
}
