/*==========header==========*/
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  color: var(--cool-gray-800);
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
}

/*==========button==========*/
.submit-btn {
  width: 88px;
  height: 42px;
  background-color: var(--brand-blue);
  color: var(--gray-00);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}