* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Pretendard';
  font-size: 8px;
  user-select: none;
}

body {
  font-size: 2rem;
}

.wrap {
  min-width: 100vw;
  width: 100%;
  height: 100%;
}

.header-wrap {
  min-width: 1560px;
  width: 100%;
  height: 610px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1520px;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.banner__top {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1520px;
  width: 100%;
  height: 540px;
  background-color: var(--banner-bg);
}

.banner__top__left {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-self: flex-end;
}

.banner__top__right {
  align-self: flex-end;
  width: 996px;
  height: 447px;
}

.main-wrap {
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1520px;
  margin-top: 17.25rem;
  margin-bottom: 17.25rem;
}

.main__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 64px;
  width: 1200px;
}

.main__items.reverse {
  direction: rtl;
}

.main__item:first-of-type {
  width: 588px;
  height: 444px;
}

.main__item:last-of-type {
  span {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    font-weight: 500;
    font-size: 3rem;
    small {
      color: var(--default-primary);
      font-weight: 700;
      font-size: 2.2rem;
    }
    h2 {
      padding-bottom: 12px;
      font-weight: 700;
      font-size: 5rem;
    }
  }
}


.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1560px;
  width: 100%;
  height: 680px;
  background-color: var(--banner-bg);
}

.banner__bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1520px;
  height: 540px;
}

.footer {
  min-width: 1520px;
  width: 100%;
  height: 160px;
  background-color: var(--gray-scale-900);
}

.footer__items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 32px;
  list-style-type: none;
}

.footer__item {
  &:first-of-type {
    color: var(--gray-scale-400);
  }
  &:nth-of-type(2) {
    display: flex;
    column-gap: 30px;
    & > a {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &:last-of-type {
    display: flex;
    column-gap: 12px;
  }
}

@media (hover: hover) {
  .nv:hover {
    scale: 1.1;    
  } 
  .btn:hover {
    background: var(--btn-color-hover)
  }
}