@import '../styles/config.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 1;

  nav {
    display: flex;
    list-style: none;
    gap: 8px;
    font-weight: bold;
    font-size: 16px;
    color: var(--gray600);
    margin-left: 16px;
    flex-grow: 1;

    :hover {
      color: var(--blue);
    }
  }

  @include media($tablet) {
    padding: 0 24px;

    nav {
      gap: 36px;
      font-size: 18px;
      margin-left: 20px;
    }
  }

  @include media($pc) {
    padding: 0 200px;

    nav {
      margin-left: 32px;
    }
  }

  .login {
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14.5px 43px;
  }
}
