/* ==== loadingbar ==== */
.bg-dark {
  background: var(--gray100);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.load-wrapp {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 80px 20px 140px;
  text-align: center;

  .load {
    display: flex;
    gap: 3px;

    .line {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background-color: var(--primary);
      &:nth-last-child(1) {
        animation: wave 0.6s 0.1s linear infinite;
      }
      &:nth-last-child(2) {
        animation: wave 0.6s 0.2s linear infinite;
      }
      &:nth-last-child(3) {
        animation: wave 0.6s 0.3s linear infinite;
      }
    }
  }
  p {
    margin-top: 25px;
    color: var(--gray500);
  }
}
@keyframes wave {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
