@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Pretendard Variable", "Noto Sans KR", sans-serif;
  }

  a,
  button {
    cursor: pointer;
  }

  textarea {
    resize: none;
  }
}
