/* ==== header ==== */

header {
  display: flex;
  width: 100%;
  max-width: calc(1920px - 400px);
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}

.logo {
  display: block;
  background: url('../img/logo.svg') no-repeat;
  width: 200px;
  height: 48px;
  background-size: contain;
}