/* ==== header ==== */

header {
  display: flex;
  width: 100%;
  max-width: 1520px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 0;
}

.logo {
  display: block;
  background: url('../img/logo.svg') no-repeat;
  width: 200px;
  height: 48px;
  background-size: contain;
}

.logo-center {
  display: block;
  background: url('../img/logo.svg') no-repeat;
  width: 396px;
  height: 132px;
  background-size: contain;
  margin: 60px auto 40px;
}