/* ==== icon ==== */

.ic_instagram {
  background-image: url('../img/ic_instagram.svg');
}

.ic_twitter {
  background-image: url('../img/ic_twitter.svg');
}

.ic_facebook {
  background-image: url('../img/ic_facebook.svg');
}

.ic_youtube {
  background-image: url('../img/ic_youtube.svg');
}

.ic_google {
  background-image: url('../img/ic_google.svg');
}

.ic_kakao {
  background-image: url('../img/ic_kakao.svg');
}