.textArealabel {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.textArea {
  width: 100%;
  line-height: 2.4rem;
  padding: 1.6rem 2.4rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-gray100);
}
.textArea.addProduct {
  height: 200px;
}
.textArea.comment {
  height: 104px;
}
.textArea:focus {
  outline: 1px solid var(--color-blue);
}

@media (max-width: 768px) {
  label {
    font-size: 1.4rem;
  }
  .textArea.comment {
    font-size: 1.4rem;
  }
}
