.loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.8rem 1.3rem;
  background-color: var(--blue);
  color: #ffffff;
}
.headerLogoLink {
  margin-right: 2rem;
}
.headerLogoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.headerLinkBox {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.headerLinkBox ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3rem;
  color: #4b5563;
}
.headerLinkBox ul li a:hover {
  color: var(--blue);
  text-decoration: underline;
}
