@import "./variables";

@mixin wrap-style($width, $padding) {
  width: min($width + 2rem - ($padding * 2), 100%);
  height: 100%;
  margin-inline: auto;
}

@mixin text-style($fontSize, $fontWeight, $color) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

@mixin button-style($type) {
  cursor: pointer;
  border: none;
  color: $clr-white;
  transition: all 0.3s ease;
  @if $type == "small" {
    width: $button-small-max-w;
    height: $button-small-h;
    border-radius: $button-small-bdrd;
    @media screen and (max-width: 400px) {
      width: $button-small-min-w;
      height: $button-small-h;
    }
  } @else if $type == "large" {
    width: $button-large-min-w;
    height: $button-large-min-h;
    border-radius: $button-large-bdrd;
    font-size: $fs-600;

    @media screen and (min-width: 768px) {
      width: $button-large-max-w;
      height: $button-large-max-h;
    }
  } @else if $type == "fill" {
    width: 100%;
    height: 100%;
    font-size: $fs-600;
    font-weight: $fs-600;
    border-radius: $button-large-bdrd;
  }

  &:global(.primary) {
    background: $clr-primary;
    @media (hover: hover) {
      &:hover {
        background: $clr-hover;
      }

      &:global(.active) {
        background: $clr-active;
      }
    }
  }

  &:global(.inactive) {
    cursor: default;
    background: $clr-inactive;
  }
}

@mixin link-style() {
  color: $clr-primary;
  @media (hover: hover) {
    &:global():hover {
      color: $clr-hover;
    }
  }
}

@mixin input-style($width, $height) {
  width: $width;
  height: $height;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  background: $clr-gray-100;
}
