$clr-gray-900: #111827;
$clr-gray-800: #1f2937;
$clr-gray-700: #374151;
$clr-gray-600: #4b5563;
$clr-gray-500: #6b7280;
$clr-gray-400: #9ca3af;
$clr-gray-200: #e5e7eb;
$clr-gray-100: #f3f4f6;
$clr-gray-50: #f9fafb;

$clr-primary: #3692ff;
$clr-error: #f74747;
$clr-hover: #1967d6;
$clr-active: #1251aa;
$clr-inactive: $clr-gray-400;
$clr-banner: #cfe5ff;
$clr-footer: #111322;
$clr-black: black;
$clr-white: white;

$link-clr: #cfcfcf;
$codeit-clr: #676767;

$fs-900: 2.5rem; //40
$fs-800: 2rem; // 32
$fs-700: 1.5rem; // 24
$fs-600: 1.25rem; // 20
$fs-500: 1.125rem; // 18
$fs-400: 1rem; // 16
$fs-300: 0.875rem; // 14
$fs-200: 0.75rem; // 12

$fw-700: 700;
$fw-600: 600;
$fw-500: 500;

$body-ff: "Pretendard";
$body-fs: $fs-400;

$header-h: 70px;
$banner-h: 540px;
$footer-h: 160px;

$guide-mt: 51px;
