.pagination-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pagination {
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #6b7280;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.btn-pagination:last-child {
  margin-right: 0;
}

.btn-pagination:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn-pagination.active {
  background-color: var(--blue);
  color: #fff;
}
