@import '../styles/config.scss';

.wrap {
  border-bottom: 1px solid var(--gray200);
  padding-bottom: 24px;

  .content {
    display: flex;
    min-height: 72px;
    gap: 8px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      flex: 1;

      @include media($tablet) {
        font-size: 20px;
      }
    }

    .thumbnail {
      background-color: #fff;
      border: 1px solid var(--gray200);
      width: 72px;
      height: 72px;
      border-radius: 8px;
      padding: 12px;

      .img {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;

  > div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray600);
    font-size: 14px;
  }
}

.hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--gray200);
  margin: 24px 0;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  @include media($tablet) {
    margin-bottom: 24px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--gray800);

    @include media($tablet) {
      font-size: 28px;
    }
  }

  .dummy {
    padding: 11.5px 23px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
