.bestSection {

  .bestSectionLabel {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--gray900);
    margin: 0 0 2.4rem;

    @media (width <= 767px) {
      font-size: 1.8rem;
      line-height: 2.6rem;
      margin: 0 0 1.6rem;
    }
  }

  .articlesContainer {
    width: 100%;
    display: flex;
    gap: 2.4rem;

    .articleCard {
      width: 100%;
      border-radius: 0.8rem;
      background-color: var(--gray50);
      padding: 0 2.4rem 1.6rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .bestBadge {
        width: 10.2rem;
        height: 3rem;
        border-radius: 0 0 1.6rem 1.6rem;
        background-color: var(--blue);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.6rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;

        .badgeImageContainer {
          position: relative;
          width: 1.6rem;
          height: 1.6rem;
        }
      }

      .articleCardContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0.8rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 3.2rem;
        color: var(--gray800);

        @media (width <= 1199px) {
          font-size: 1.8rem;
          line-height: 2.6rem;
        }

        .articleImageContainer {
          position: relative;
          width: 7.2rem;
          height: 7.2rem;
          border: solid 0.1rem var(--gray200);
          border-radius: 0.6rem;
          background-color: white;
          flex-shrink: 0;
        }
      }

      .articleCardFooter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        justify-self: flex-end;

        .articleCardFooterInfo {
          display: flex;
          gap: 0.8rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 2.4rem;
          color: var(--gray600);

          .likeyContainer {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            color: var(--gray500);

            .heartContainer {
              position: relative;
              width: 1.6rem;
              height: 1.6rem;
            }
          }
        }

        .bestArticleDate {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 2.4rem;
          color: var(--gray400);
        }
      }
    }
  }
}