.header {
  width: 100%;
  height: 7rem;
  border-bottom: solid 0.1rem #DFDFDF;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 0 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;

  @media (width <= 1199px) {
    padding: 0 2.4rem;
  }

  @media (width <= 767px) {
    padding: 0 1.6rem;
  }

  .headerContent {
    display: flex;
    gap: 3.2rem;
    align-items: center;

    @media (width <= 1199px) {
      gap: 2rem;
    }

    @media (width <= 767px) {
      gap: 0.8rem;
    }

    .logoContainer {
      position: relative;
      width: 15.3rem;
      height: 5.1rem;
    }

    .nav {
      height: 100%;
      list-style: none;
      display: flex;

      .navItem {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.5rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.6rem;
        color: var(--gray600);

        @media (width <= 767px) {
          padding: 0 0.4rem;
        }
      }
    }
  }
}