.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6875rem 2.5rem;
  border: none;
  border-radius: 40px;
  background-color: var(--blue);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--white);
}
