.add-inquiry-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.inquiry-label {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  color: var(--gray900);
}

.inquiry-content {
  width: 100%;
  height: 104px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background-color: var(--gray100);
}
.inquiry-content::placeholder {
  font-size: 16px;
  font-weight: normal;
  color: var(--gray400);
}

.add-inquiry-button {
  width: 74px;
  height: 42px;
  padding: auto 23px;
  border: none;
  border-radius: 8px;
  background-color: var(--gray400);
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}

.add-inquiry-button.active {
  background-color: var(--blue);
  cursor: pointer;
}

.comment-lists {
  width: 100%;
  list-style: none;
}

.inquiry-wrapper {
  width: 100%;
  margin-bottom: 24px;
}

.no-inquiry-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-inquiry-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: var(--gray400);
}
