.product-detail-link {
  text-decoration: none;
}

.product-list-item .image {
  display: block;
  margin-bottom: 16px;
  object-fit: cover;
  border-radius: 16px;
}

.best-product-list-item {
  width: 282px;
  height: 282px;
}

.all-product-list-item {
  width: 221px;
  height: 221px;
}

.product-list-item .title {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray800);
}

.product-list-item .price {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 16px;
  color: var(--gray800);
}

.product-list-item .like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.product-list-item .like-num {
  font-weight: 500;
  font-size: 12px;
  color: var(--gray600);
}
