.nav {
  display: flex;
  margin-right: auto;
  margin-left: 10px;

  li {
    padding: 0 20px;
    font-weight: 600;
    font-size: 18px;
    color: var(--gray600);

    a.active {
      color: var(--primary);
    }
  }
}

@media (max-width: 767px) {
  .nav {
    li {
      font-size: 16px;
      padding: 0 8px;
    }
  }
}
