.productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productHeader {
  padding-top: 2.4rem;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
.productHeader.mobile {
  flex-direction: column;
  align-items: normal;
}
.productTitle {
  font-weight: 700;
  font-size: 2rem;
}
.titleContainer {
  flex: 3 0;
}
.productList {
  margin-top: 2.4rem;
}
.listContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 40px 24px;
}
.controlsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.controlsContainer.mobile {
  margin-top: 8px;
  justify-content: space-between;
}
.addItemContainer {
  font-size: 1.6rem;
  font-weight: 600;
  background: var(--color-blue);
  border-radius: 8px;
}
.addItemContainer > a {
  display: inline-block;
  width: 87px;
  box-sizing: content-box;
  padding: 11.5px 23px;
  color: #fff;
}
.sortContainer {
  position: relative;
}
.form {
  grid-row: 2;
  grid-column: span 2;
}

.loading {
  height: 100%;
}
@media (max-width: 1199px) {
  .listContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 16px;
  }
}

@media (max-width: 768px) {
  .productHeader {
    display: grid;
    grid-template-columns: 1fr 79px 42px;
    grid-template-rows: repeat(2, 1fr);
  }
  .addItem {
    grid-row: 1;
    grid-column: 2 / 4;
  }
  .listContainer {
    margin-top: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px 8px;
  }
}
