@charset "uft-8";

#register-header {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.register-logo {
  max-width: 460px;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btn-home {
  display: inline-block;
  margin: 0 auto;
}

.btn-home > img {
  width: 100%;
}

#register-container {
  max-width: 70.4rem;
  min-height: calc(1080px - 236px);
  padding: 0 3.2rem;
  margin: 0 auto;
}

.input-box {
  margin-bottom: 2.4rem;
}

.input-box input {
  width: 100%;
  line-height: 2.4rem;
  padding: 1.6rem 2.4rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-gray100);
}
.input-box input.error {
  outline: 1px solid var(--color-red);
}
.input-box input:focus {
  outline: 1px solid #3692ff;
}

.input-box label {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.input-password {
  position: relative;
}

.hide-btn {
  position: absolute;
  top: 16px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: url(../images/hide_icon.png) no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.hide-btn.show {
  background: url(../images/show_icon.png) no-repeat;
}

.error-msg {
  padding-top: 1rem;
  padding-left: 1.6rem;
  color: var(--color-red);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 17.9px;
}

.login-btn {
  margin-bottom: 2.4rem;
}

.login-btn > button {
  width: 100%;
  border-radius: 4rem;
  padding: 1.6rem 0;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  background: var(--color-blue);
}

.login-btn > button:disabled {
  background-color: var(--color-gray400);
}

.login-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  padding: 1.6rem 2.4rem;
  border-radius: 0.5rem;
  background: #e6f2ff;
}

.login-list {
  display: flex;
  gap: 1.6rem;
}

.google-login,
.kakao-login {
  display: block;
  width: 42px;
  height: 42px;
  background-size: 286px 64px;
}

.google-login {
  background: url(../images/icon.png) -233px -10px;
}

.kakao-login {
  background: url(../images/icon.png) -170px -10px;
}

.login-simple {
  font-size: 1.6rem;
  font-weight: 500;
}

.register-box {
  text-align: center;
}

.register-box > span {
  font-size: 1.6rem;
  font-weight: 500;
}

.register-box > span > a {
  text-decoration: underline;
  color: #3182f6;
}
