html {
  background-color: #fcfcfc;
}

.main {
  max-width: 1200px;
  margin: 94px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* section's title area */
.all-items-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.all-items-header > .section-title {
  flex-grow: 1;
}

.all-items-header > .login-btn {
  margin-right: 10px;
}

.search {
  position: relative;
  border-radius: 16px;
  display: flex;
  margin-right: 10px;
}

.ic-search {
  position: relative;
  left: 40px;
  padding: 9px;
  background: url("/src/assets/images/ic_search.png") no-repeat;
  z-index: 2;
}

.search {
  color: var(--coolgray-400);
  background-color: var(--coolgray-100);
  border-radius: 12px;
  padding: 9px 20px 9px 52px;
  width: 294px;
  height: 42px;
  border: 0px;
}

.dropdown-btn,
.dropdown-ul {
  position: relative;
  color: var(--coolgray-800);
  background-color: var(---fff);
  border: 1px solid var(--coolgray-200);
  border-radius: 12px;
  width: 130px;
  font-weight: 400;
  font-size: 1rem;
}

.dropdown-btn {
  position: relative;
  text-align: left;
  padding: 12px 20px;
}

.dropdown-ul {
  position: absolute;
  border-radius: 12px;
  background-color: var(--fff);
  margin-top: 5px;
  text-align: center;
}

.dropdown-ul:first-child {
  border-bottom: 1px solid var(--coolgray-200);
}

.dropdown-li {
  padding: 12px;
  border-radius: 12px;
}

.ic-arrow-down {
  position: absolute;
  background-image: url("/src/assets/images/ic_arrow_down.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 25px;
}

/* section's content area */
.best-items-list,
.all-items-list {
  display: grid;
  gap: 40px 24px;
}

.best-items-list {
  grid-template-columns: repeat(4, 1fr);
}

.all-items-list {
  grid-template-columns: repeat(5, 1fr);
}

.all-items-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-default-img,
.item-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 19px;
}

.item-default-img {
  background: url("/src/assets/images/img_item_default.png");
  background-size: cover;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-content {
  color: var(--coolgray-800);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item-content-sub {
  font-size: 0.8rem;
}

.item-price {
  font-size: 1rem;
}

.item-favorite {
  display: flex;
  align-items: center;
  color: var(--coolgray-200);
  font-size: 0.8rem;
}

.btn-heart {
  background: url("/src/assets/images/ic_heart.png") no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/* page navigation bar */
.page-nav-bar {
  display: flex;
  justify-content: center;
  gap: 12.5px;
}

.page-nav-btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid var(--coolgray-200);
  background-color: var(--fff);
  color: var(--coolgray-500);
  font-weight: 600;
  font-size: 1rem;
}

/* mobile */
@media (max-width: 768px) {
  /* common */
  .header {
    padding: 0 16px;
  }

  main.main {
    margin: 94px 16px;
  }

  .logo-link {
    font-size: 0;
  }

  .logo {
    content: url("/src/assets/images/logo_pandamarket_name.png");
    width: 81px;
    height: 27px;
    margin: 0;
  }

  /* Items page */
  .best-items-container > .best-items-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .all-items-container > .all-items-header {
    display: grid;
    grid-template-columns: 1fr 91px 42px;
    grid-template-rows: 42px;
    grid-template-areas:
      "section-title login-btn login-btn"
      "search search dropdown-orderby";
    gap: 8px;
    height: auto;
  }

  h1.section-title {
    grid-area: section-title;
  }

  .all-items-header > a.login-btn {
    grid-area: login-btn;
    margin-right: 0;
  }

  input.search {
    grid-area: search;
    margin-right: 0;
    width: 100%;
  }

  div.ic-search {
    bottom: 37px;
    left: 19px;
  }

  div.dropdown-orderby {
    grid-area: dropdown-orderby;
  }

  .dropdown-orderby > .dropdown-btn {
    width: 42px;
    height: 42px;
    font-size: 0;
    background: url("/src/assets/images/ic_sort.png") no-repeat 50%;
  }

  div.ic-arrow-down {
    display: none;
  }

  .all-items-container > .all-items-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

/* tablet */
@media (min-width: 769px) and (max-width: 1199px) {
  /* common */
  .header {
    padding: 0 24px;
  }

  main.main {
    margin: 94px 24px;
  }

  /* Items page */
  .best-items-container > .best-items-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .all-items-container > .all-items-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
