.itemWrapper {
  display: flex;
  gap: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e7eb;
}

.itemImg {
  width: 486px;
  height: 486px;
  border-radius: 16px;
}

.itemLetter {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.itemLetterTop {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e7eb;
}

.itemLetterBottom {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.itemName {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.64px;
}

.itemTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  color: #4b5563;
}

.itemPrice {
  font-size: 40px;
  font-weight: 600;
  line-height: 47.73px;
}

.itemitemDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  color: #1f2937;
}

.itemTags {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.itemTag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  height: 36px;
  border-radius: 26px;
  background-color: #f3f4f6;
}

.itemFavorite {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 16px;
  height: 36px;
  width: 87px;
  border-radius: 26px;
  border: 1px solid #e5e7eb;
  margin: auto 0 0;
}

.inquiryWrapper {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 16px;
  margin: 24px 0;
}

.inquiryInput {
  width: 100%;
  height: 104px;
  border-radius: 12px;
  background-color: #f3f4f6;
  border: none;
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 16px;
  outline: none;
}

.backButton {
  display: flex;
  margin: 40px auto;
  gap: 10px;
  background-color: #3692ff;
  color: #ffffff;
  border-radius: 40px;
  padding: 12px 71px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border: none;
}
