.dropDownList {
  position: relative;

  &__triggerButton {
    width: 130px;
    height: 100%;
    max-height: 48px;
    padding: 13px 20px 13px 20px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--gray200);

    color: var(--gray800);
    font-size: 1.6rem;
    font-weight: 400;

    @media (max-width: 1199px) {
      width: 120px;
      height: 48px;
    }

    @media (max-width: 767px) {
      height: 100%;
      width: 48px;
      aspect-ratio: 1;
      background-image: url("../../../assets/icons/ic_sort.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-image: cover;
    }
  }

  &__dropDownArrow {
    position: absolute;
    right: 20px;
    top: 12px;
  }

  &__item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 60px;

    width: 130px;
    height: 42px;

    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    line-height: 2.4rem;
    background: #ffffff;

    color: var(--gray800);
    border: 1px solid var(--gray200);

    @media (max-width: 1199px) {
      width: 120px;
      height: 42px;
    }

    @media (max-width: 767px) {
    }
  }

  &__item:first-child {
    border-radius: 12px 12px 0 0;
  }
  &__item:last-child {
    border-radius: 0 0 12px 12px;
  }
  &__item:nth-child(2) {
    top: 100px;
  }
  &__item:nth-child(3) {
    top: 140px;
  }
}
