.textarea {
  width: 100%;
  min-height: 200px;
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--gray800);
  background-color: var(--gray100);
  resize: vertical;

  &:focus {
    outline: 1px solid var(--brand-blue);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--gray400);
  }
}
