.pagination-btn-group {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  gap: 4px;
}

.pagination-num-btn,
.pagination-left-btn,
.pagination-right-btn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--cool-gray-200);
  border-radius: 999px;
  color: var(--cool-gray-500);
  background-color: var(--gray-00);
  font-size: 16px;
  font-weight: 600;
}

.pagination-arrow-img {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
}

.pagination-num-btn.active {
  background-color: var(--brand-blue);
  color: var(--gray-00);
}