@media screen and (min-width: 1080px) and (max-width: 1240px) {
  .container {
    max-width: 730px;
  }
  .wrapper {
    padding: 100px 0;
  }
  .banner {
    height: 400px;
    background-size: 800px;
    background-position: right 100px bottom 0px;
  }
  .banner-title {
    max-width: 730px;
  }
  .banner-title > h1 {
    font-size: 32px;
    line-height: 46px;
  }
  .banner-title > a {
    padding: 12px 90px;
  }

  .top_line {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
  }
}

@media screen and (max-width: 744px) {
  header {
      padding: 0 24px;
  }
}

@media screen and (max-width: 375px) {
  header {
      padding: 0 16px;
  }
  .logo {
    display: none;
  }
  .mobile-logo {
    display: block;
  }
}