.comment-section__list-item {
  list-style-type: none;
  border-bottom: 1px solid #e5e7eb;
}

.comment-section__top {
  font-size: 16px;
  font-weight: 400;
}

.comment-section__bottom {
  display: flex;
}

.comment-section__writer-img {
  width: 40px;
  height: 40px;
}

.comment-section__info {
  flex-grow: 1;
}

.comment-section__writer {
  font-size: 14px;
  font-weight: 400;
}

.comment-section__updatedAt {
  font-size: 12px;
  font-weight: 400;
  color: #9ca3af;
}
