:root {
  --blue: #3692ff;
  --red: #f74747;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pretendard';
}

/* 판다마켓 로고 */
.home-button {
  margin-top: 60px;
  width: 396px;
  height: 132px;
  background-image: url(../images/logo3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* 폼 */
form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 640px;
  gap: 24px;
}

.input-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-wrap {
  display: flex;
  align-items: center;
  position: relative;
}

input {
  height: 56px;
  width: 100%;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: var(--gray100);
}

input::placeholder {
  color: var(--gray400);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.focus-in-blue {
  border: 1px solid var(--blue);
}

.alert-border {
  border: 1px solid var(--red);
}

.alert-message {
  color: var(--red);
  font-weight: 600;
  font-size: 15px;
  line-height: 17.9px;
}

.password-icon {
  position: absolute;
  right: 24px;
}

label {
  color: var(--gray800);
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 700;
}

.form-button {
  display: flex;
  justify-content: center;
  height: 56px;
  border-radius: 40px;
  padding: 16px 124px;
  background-color: var(--gray400);
  color: var(--white);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

input,
button {
  border: none;
  outline: none;
}

.button-enable {
  background-color: var(--blue);
}

/* 간편 로그인 */
.easy-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  background-color: #e6f2ff;
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
}

ul.icon-wrap {
  display: flex;
  width: 100px;
  height: 42px;
  gap: 16px;
  list-style-type: none;
}

/* 헬퍼 */
.help {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-bottom: 60px;
}

.help > a {
  margin-left: 8px;
  color: var(--blue);
}

@media (max-width: 767px) {
  body {
    padding: 0 16px;
  }

  .home-button {
    margin-top: 24px;
    width: 198px;
    height: 66px;
  }

  form {
    max-width: 400px;
  }
}