* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main:hover {
    cursor: default;
}

button:hover {
    cursor:pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

section {
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 200px;
    border-bottom: 1px solid #dfdfdf;
    position: sticky;
    top: 0;
    z-index: 2;
}

header .container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 20px;
    background-color: #3692ff;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    border: none;
    flex-shrink: 0;
}

main .container {
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 40px;
}

section.items-promotion {
    height: 540px;
}

.blue-background {
    background-color: #cfe5ff;
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: bottom 0 right 36.5%;
}

.blue-background.top-img {
    background-image: url('../imgs/Img_home_top.png');
}

.blue-background.bottom-img {
    background-image: url('../imgs/Img_home_bottom.png');
}

.items-promotion-content {
    width: 357px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    z-index: 1;
}

.items-button {
    width: 100%;
    height: 56px;
    border-radius: 40px;
    background-color: #3692ff;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    border: none;
    flex-shrink: 0;
    display: inline;
}

.top-bottom-img {
    position: absolute;
    bottom: 0;
    left: 36.5%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 0 60px;
    flex-shrink: 0;
}

.content-img {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
}

.hot .content-img {
    background-image: url('../imgs/Img_home_01.png');
}

.search .content-img {
    background-image: url('../imgs/Img_home_02.png');
}

.register .content-img {
    background-image: url('../imgs/Img_home_03.png');
}

.content-line1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #3692ff;
}

.content-line2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #374151;
    line-height: 56px;
}

.content-line3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #374151;
}

main .search .container {
    justify-content: flex-end;
}

main .search .content {
    align-items: flex-end;
    text-align: right;
}

section.main-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    width: 100%;
    height: 160px;
    background-color: #111827;
    padding: 32px 200px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-content1 {
    font-size: 1rem;
    font-weight: 400;
    color: #9ca3af;
    width: 120px;
}

.footer-content2 {
    font-size: 1rem;
    font-weight: 400;
    color: #e5e7eb;
    display: flex;
    gap: 30px;
}

.footer-content3 {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    width: 120px;
}

@media (max-width: 767px) {
    header {
        padding: 0 1rem;
    }

    .login-button {
        width: 6.4rem;
        height: 3rem;
        padding: 0.75rem 1.25rem;
        font-size: 0.8rem;
    }

    main .container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 90%;
    }

    main .hot {
        margin-top: 180px;
    }

    main .search {
        margin: 3rem 0;
    }

    main .search .container {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 90%;
    }

    .content-img {
        width: 100%;
        height: 50%;
        background-position: left;
    }

    .search .content-img {
        width: 100%;
        height: 50%;
        background-position: right;
    }

    .content {
        padding: 0;
    }

    .blue-background {
        background-size: 80%;
        padding: 80px 0;
    }

    .blue-background .container {
        justify-content: flex-start;
    }

    footer {
        padding: 1rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
    }
}