* {
    box-sizing: border-box;
}

:root{
    --gray900: #111827;
    --gray800: #1f2937;
    --gray700: #374151;
    --gray600: #4b5563;
    --gray500: #6b7280;
    --gray400: #9ca3af;
    --gray200: #e5e7eb;
    --gray100: #f3f4f6;
    --gray50: #f9fafb;

    --blue: #3692ff;
    --red: #f74747;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

header {
    width: 100%;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

form label{
    color: var(--gray800);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    display: inline-block;
}

main .container {
    width: 100%;
    max-width: 640px;
    padding: 40px 0;
}

.text-input {
    width: 100%;
    height: 56px;
    border-radius: 12px;
    background-color: var(--gray100);
    border: none;
    padding: 22px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray800);
}

.text-input:focus {
    outline: solid var(--blue);
}

.text-input.mismatching:focus {
    outline: solid var(--red);
}

.verify-password-label {
    position: relative;
    width: 100%;
}

.password-mismatching-msg {
    position: absolute;
    right: 10px;
    bottom: -10px;
    font-size: 0.8rem;
    color: var(--red);
}

.hidden {
    display: none;
}

.text-input::placeholder {
    color: var(--gray400);
    font-size: 16px;
    font-weight: 400;
}

.text-input[type="password"] {
    color: var(--gray800);
}

.password-field {
    position: relative;
}

.password-visibility-icon {
    position: absolute;
    top: 17px;
    right: 22px;
}

.password-visibility-icon:hover {
    cursor: pointer;
}

.doit {
    background-color: var(--gray400);
    border-radius: 40px;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    margin: 10px 0;
}

.doit.valid {
    background-color: var(--blue);
}

.easy-login {
    width: 100%;
    height: 74px;
    background-color: #e6f2ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    color: var(--gray800);
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    margin: 20px 0;
}

.media-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.signup-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.signup-link a {
    color: #3182f6
}

@media (max-width: 767px) {
    .header-img {
        height: 100px;
    }

    main .container {
        max-width: 400px;
    }
}