header {
    width: 100%;
    height: 4.375rem;
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 200px;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
}

body {
    padding-top: 4.375rem;
}