header .nav {
    display: flex;
    padding: 0 2.5rem;
    flex-grow: 1;
    gap: 2rem;
}

@media (width <= 1199px) {
    
    header .nav {
        padding: 0 1.25rem;
    }

}

@media (width <= 767px) {

    header .nav {
        padding: 0 1rem;
        gap: 0.5rem;
    }

}