.errorComponent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    .errorMessage {
        font-size: 1rem;
        font-weight: 400;
        color: var(--gray400);
    }
}