footer {
    height: 10rem;
    background-color: var(--gray900);
    padding: 2rem 25rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .footerInnerContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .footerLabel {
            height: auto;
            font-size: 1rem;
            font-weight: 400;
            color: var(--gray400);
        }

        .footerPolicies {
            display: flex;
            gap: 1.875rem;

            .footerPolicy {
                font-size: 1rem;
                font-weight: 400;
                color: var(--gray200);

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .footerMedia {
            display: flex;
            gap: 0.75rem;

            .footerMediaIcon {
                width: 1.25rem;
                height: 1.25rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    @media (width <= 1199px) {
        padding: 2rem 6.5rem;
    }

    @media (width <= 767px) {
        padding: 2rem;

        .footerInnerContainer {
            height: 100%;
            position: relative;

            .footerLabel {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}