.header {
  position: fixed;
  background-color: var(--fff);
  border-bottom: 1px solid #dfdfdf;
  height: 70px;
  width: 100%;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 2;
}

.logo {
  background-size: cover;
  width: 153px;
  height: 51px;
  margin-right: 20px;
}

.gnb {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 218px;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--coolgray-600);
}

.gnb-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gnb-market {
  color: var(--brand);
}

.gnb-market:visited {
  color: var(--brand);
}

.gnb-community:visited {
  color: var(--coolgray-600);
}

.gnb-community:hover {
  color: var(--brand);
}

.login-btn {
  display: flex;
  background-color: var(--brand);
  text-align: center;
  color: var(--fff);
  cursor: pointer;
  font-weight: 600;
  padding: 12px 23px;
  border-radius: 8px;
}
