.loading-image {
    background-image: url("../assets/panda_blog-imagery-_21_Khajitted.jpg");
    width: 100%;
    height: 22rem;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}