.loginContainer {
    max-width: 42rem;
    margin: 3.75rem auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pageTransitionContainer {
        display: flex;
        gap: 0.25rem;

        .pageTransitionText {
            color: var(--gray800);
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.5rem;
        }

        .pageTransitionLink {
            color: var(--blue);
            text-decoration: underline;
        }
    }
}