/* ==== variables ==== */

:root {
  --main-font: "Pretendard";

  --banner-bg: #cfe5ff;

  --primary: #3692ff;
  --primary-hover: #1967d6;
  --primary-visited: #1251aa;
  --primary-light: #f5faff;

  --error: #f74747;
  --white: #fff;
  --black: #000;

  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
}
