.search-container {
  width: 325px;
  height: 42px;
  position: relative;
}

.search-img {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24%;
  left: 4%;
}

.search {
  background-color: #f3f4f6;
  width: 100%;
  height: 100%;
  padding: 9px 20px 9px 44px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  border: none;
}
.search::placeholder {
  color: #9ca3af;
}

.search:focus {
  border: 1px solid #3692ff;
}
