.btn-small {
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: #3692ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  border: solid;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  background-color: white;
  border: 1px solid #e5e7eb;
  color: #6b7280;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #2f80ed;
  color: white;
}
