h1 {
  font-size: 20px;
  font-weight: bold;
  color: var(--gray800);
}

button {
  padding: 11.5px 23px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.titleSection {
  margin-bottom: 16px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .container {
    padding: 16px 24px;
  }

  .inputSection {
    gap: 24px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding: 24px 0;
    margin: 0 auto;
  }
}
