@media screen and (max-width: 767px) {
  main {
    padding: 0;
  }

  input:focus {
    outline: 2px solid var(--blue);
  }
  textarea:focus {
    outline: 2px solid var(--blue);
  }
  /* 공통 CSS Zone START */
  .verticalAlign {
    display: flex;
    flex-direction: column;
  }
  .labelTitle {
    margin: 16px 0px 12px;
    font-size: 14px;
    font-weight: 700;
    color: var(--gray800);
  }
  .productInput {
    background-color: var(--gray100);
    width: 100%;
    height: 56px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray800);
    padding: 0px 24px;
  }
  .productInput::placeholder {
    color: var(--gray400);
  }
  /* 공통 CSS END */
  .addItemBody {
    margin: 70px 15px 0 15px;
  }

  .productRegister {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0 16px;
  }
  .productRegisterTitle {
    font-size: 20px;
    font-weight: 700;
    color: var(--gray800);
  }
  .productRegisterBtn {
    border-radius: 8px;
    width: 88px;
    height: 42px;
    background-color: var(--gray400);
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }
  .vaildButton {
    background-color: var(--blue);
    border-radius: 8px;
    width: 88px;
    height: 42px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }
  .productImageTitle {
    font-size: 14px;
    font-weight: 700;
    color: var(--gray800);
    margin-bottom: 9px;
  }

  .imageUploadBox {
    display: flex;
    justify-content: space-between;
  }
  .imageUpload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 168px;
    height: 168px;
    background-color: var(--gray100);
    border-radius: 12px;
  }
  .imageUploadSelect {
    position: relative;
  }
  .imageUploadText {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray400);
  }

  .imageUploadInput {
    display: none;
  }

  .imageUploadDelete {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .productDescriptionText {
    background-color: var(--gray100);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray800);
    padding: 16px 24px;
    width: 100%;
    height: 200px;
  }
  .productDescriptionText::placeholder {
    color: var(--gray400);
  }
  .tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    height: 48px;
    margin: 12px 0px 183px;
  }
  .tags {
    padding: 12px 12px 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--gray50);
    border-radius: 26px;
  }
  .tagValue {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray800);
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
}
