.section {
  margin-top: 4rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 1199px) {
  .wrapper {
    padding: 0 2.4rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 1.6rem;
  }
}
