.boards {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.87px;
    margin-bottom: 24px;
  }

  .bestArticleSection {
    min-height: 257px;
  }

  .titleAndButton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    & button {
      width: 88px;
      height: 42px;
    }
  }
}
