/* --------------------- PC: 1200px 이상 --------------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-left: 200px;
  padding-right: 200px;
  border-bottom: solid 1px #dfdfdf;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  width: 153px;
  height: 51px;
  cursor: pointer;
}

.logo-icon {
  width: 40px;
  height: auto;
}

.logo-text {
  width: 103px;
  height: auto;
}

.login-link {
  flex-grow: 0;
  flex-shrink: 0;
  width: 128px;
  height: 48px;
  padding: 14.5px 0;
  border-radius: 8px;
  background-color: var(--blue);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: var(--light-blue);
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 540px;
  margin-top: 70px;
  background-color: var(--light-blue);
  background-image: url("./asset/image/Img_home_top.png");
  background-repeat: no-repeat;
  background-size: 52% auto;
  background-position: bottom 0 right 223px;
}

.header-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 40px;
  color: var(--gray700);
  line-height: 140%;
}

.header-wrapper .title {
  margin-bottom: 32px;
}

.header-link {
  display: block;
  width: 357px;
  height: 56px;
  padding: 16px 0;
  border-radius: 40px;
  background-color: var(--blue);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  width: 1200px;
}

section {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 137.5px 0;
}

.section-img {
  width: 50%;
  height: auto;
}

.section-content {
  margin: 64px;
}

.section-content .title {
  flex-shrink: 0;
  margin-bottom: 24px;
  letter-spacing: 2%;
}

.section-content-label {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 140%;
  color: var(--blue);
}

.section-content-description {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 8%;
  color: var(--gray700);
  line-height: 120%;
}

.main-wrapper section:nth-child(even) {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 137.5px 0;
  text-align: right;
}

.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 540px;
  background-color: var(--light-blue);
  background-image: url("./asset/image/Img_home_bottom.png");
  background-repeat: no-repeat;
  background-size: 52% auto;
  background-position: bottom 0 right 223px;
}

.banner-wrapper {
  width: 1200px;
  margin: 0 auto;
}

footer {
  height: 160px;
  padding: 32px 200px 108px;
  background-color: var(--gray900);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 16px;
  color: var(--gray400);
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-grow: 0;
  flex-shrink: 0;
}

.footer-menu-link {
  font-size: 16px;
  text-decoration: none;
  color: var(--gray200);
  cursor: pointer;
}

.footer-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* --------------------- Tablet: 1199px 이하 --------------------- */
@media (max-width: 1199px) {
  br.onlyPC {
    display: none;
  }

  nav {
    padding-left: 24px;
    padding-right: 24px;
  }

  header {
    display: block;
    height: 771px;
    background-size: 996px auto;
    background-position: center bottom 0;
  }

  .header-wrapper {
    width: 744px;
    text-align: center;
  }

  .header-wrapper > .title {
    padding-top: 84px;
  }

  .header-link {
    margin: 0 auto;
  }

  .main-wrapper {
    width: 100%;
  }

  section {
    display: block;
    padding: 24px;
  }

  .section-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .section-content {
    margin: 0 0 64px 0;
  }

  .section-content .title {
    font-size: 32px;
  }

  .section-content-description {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 8%;
    color: var(--gray700);
    line-height: 120%;
  }

  .main-wrapper section:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    padding: 24px;
    text-align: right;
  }

  .banner {
    height: 927px;
    background-size: 996px auto;
    background-position: center bottom 0;
  }

  .banner-wrapper {
    height: 927px;
    text-align: center;
  }

  .banner-wrapper > .title {
    margin-top: 200px;
  }
}

/* --------------------- Mobile: 767px 이하 --------------------- */
@media (max-width: 767px) {
  nav {
    padding-left: 16px;
    padding-right: 16px;
  }

  .logo-icon {
    display: none;
  }

  .header-wrapper {
    width: 540px;
    text-align: center;
  }

  .header-wrapper > .title {
    padding-top: 48px;
  }

  header .title > br.onlyPC {
    display: block;
  }

  .header-link {
    width: 154px;
    height: 48px;
    font-size: 1rem;
  }

  .banner {
    height: 540px;
    background-size: 500px auto;
    background-position: center bottom 0;
  }

  .banner-wrapper {
    height: 540px;
    text-align: center;
  }

  .banner-wrapper > .title {
    margin-top: 121px;
    font-size: 32px;
  }

  footer {
    padding: 32px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* 요소들이 영역을 벗어난 경우의 개행 여부를 설정해줌 */
    height: 100%;
  }

  /* .footer-wrapper 내에서 보여질 순서 */
  .footer-copyright {
    order: 3;
  }
  .footer-menu {
    order: 1;
  }
  .footer-sns {
    order: 2;
  }
}
