.postListContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.6rem;
  border-bottom: 1px solid var(--color-gray200);
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  background: #fcfcfc;
}

.titleContainer {
  display: flex;
}

.postTitle {
  flex: 1 0;
  line-height: 3.2rem;
  font-size: 2rem;
  font-weight: 600;
}

.postImage {
  position: relative;
  width: 72px;
  height: 72px;
}
/* titleContainer */

.writerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profileImage {
  position: relative;
  width: 24px;
  height: 24px;
}

.nickName {
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #4b5563;
}

.date {
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #9ca3af;
}
/* writerContainer */

.postLike {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.likeCount {
  line-height: 2.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #6b7280;
}

.favoriteicon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
}
