.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #dfdfdf;
}

.logo-img {
  display: inline-block;
  width: 153px;
  height: 51px;
}

@media (768px <= width < 1200px) {
  .nav {
    padding: 0 24px;
  }
}

@media (375px <= width < 768px) {
  .nav {
    padding: 0 16px;
  }
}
