@import '../../../styles/global.css';
@import '../../../styles/global.scss';

.item-info {
  display: flex;
  margin: 0 0 32px;
  justify-content: space-between;
  align-items: flex-start;

  &__img {
    width: 486px;
    height: 486px;
  }

  &__content {
    display: flex;
    margin: 0 0 0 24px;
    width: 690px;
    height: 486px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    margin: 0 0 16px;
    font-size: 24px;
    font-weight: 600;
    color: $gray-800;
  }

  &__price {
    margin: 0 0 16px;
    font-size: 40px;
    font-weight: 600;
    color: $gray-800;
  }

  &__content-title {
    margin: 16px 0 0;
    font-size: 14px;
    font-weight: 500;
    color: $gray-600;
  }

  &__desc-content {
    margin: 8px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: $gray-800;
  }
}
