main {
  margin: var(--header-height) 16px;
}

@media (min-width: 768px) {
  main {
    margin: var(--header-height) 24px;
  }
}

@media (min-width: 1280px) {
  main {
    max-width: 1200px;
    margin: var(--header-height) auto;
  }
}
