@import "./assets/css/cdn";
@import "./assets/css/variables";
@import "./assets/css/reset";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-size: $body-fs;
  font-family: $body-ff;
}
