:root {
	--brand-blue: #3692ff;
	--error-red: #f74747;
	--brand-blue-active: #3692ff;
	--brand-blue-hover: #1967D6;
	--brand-blue-click: #1251aa;
	--brand-blue-inactive: #9ca3af;
	--background-blue: #cfe5ff;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-400: #9ca3af;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Pretendard Variable';
}

html,
body {
	padding: 0;
	height: 100%;

}

body {
	font-family: 'Pretendard Variable', sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
}

a {
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main-container {
	margin-top: 70px;
	flex: 1;
	width: 100%;
}

.bland-blue {
	color: var(--brand-blue);
}

.hidden {
	display: none !important;
}

li {
	list-style: none;
}