.entire {
  background-color: var(--bg-white);
}

.best-section {
  width: 1201px;
  margin: 0 auto;
}

.best-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  column-gap: 24px;
}

.best-products .product-image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.function-bar {
  display: flex;
}

.select {
  position: relative;
}

.drop-down-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  background-color: var(--white);

  border: 1px solid var(--cool-gray200);
  border-radius: 12px;
}

.drop-down-btn > img {
  width: 24px;
  height: 24px;
}

.sort-method {
  position: absolute;
  top: 4px;
  display: flex;
  flex-direction: column;
}
.sort-method > button {
  width: 130px;
  height: 42px;
  background-color: var(--white);
  border: 1px solid var(--cool-gray200);
  text-align: center;
}

.sort-method > button:first-child {
  border-radius: 12px 12px 0 0;
}

.sort-method > button:last-child {
  border-radius: 0 0 12px 12px;
}

.list-section {
  width: 1201px;
  margin: 0 auto;
}

.list-title {
  display: flex;
  justify-content: space-between;
}

.list-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 40px;
}

.list-products .product-image {
  width: 221px;
  height: 221px;
  object-fit: cover;
}
.empty-heart {
  width: 16px;
  height: 16px;
}
.product-favorit {
  display: flex;
}

.pages-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.pages-btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid var(--cool-gray200);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.pages-btn > img {
  width: 16px;
  height: 16px;
}

.current-page {
  background-color: var(--btn-color);
  color: var(--white);
  border: none;
}
