.main {
  margin: 70px auto 0;
  display: flex;
  flex-direction: column;
}

.onsale-bar {
  display: flex;
  align-items: center;
}

.pagination-container {
  display: flex;
  list-style-type: none;
}
