* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brand-blue: #3692ff;
  --cool-gray-900: #111827;
  --cool-gray-800: #1f2937;
  --cool-gray-700: #374151;
  --cool-gray-600: #4B5563;
  --cool-gray-500: #6B7280;
  --cool-gray-400: #9ca3af;
  --cool-gray-300: #d1d5db;
  --cool-gray-200: #e5e7eb;
  --cool-gray-100: #f3f4f6;
  --cool-gray-50: #f9fafb;

  /* arbitrarily named color value */
  --gray-00: #ffffff;
  --main-background-color: #cfe5ff;
}

html {
  font-size: 32px;
  font-family: Pretendard, sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: var(--gray-00);
  display: flex;
  padding: 0 200px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-logo {
  display: inline-block;
  width: 153px;
  height: 51px;
  cursor: pointer;

  margin-top: 5px;
  margin-bottom: -5px;
}

.main-top > div,
.mainpage,
.main-bottom > div {
  width: 1200px;
  margin: 0 auto;
}

.main-page1,
.main-page2,
.main-page3 {
  height: 720px;
}

.mainpage {
  display: flex;
  gap: 64px;
  margin-top: 138;
  padding: 138px 0;
}

p, h3 {
  margin: 0;
  padding: 0;
}

.content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightmain .content-block h3,
.rightmain .content-block p {
  text-align: right;
}

.mainpage.rightmain {
  justify-content: end;
  flex-flow: row-reverse;
}

p.main-content {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin: 12px 0 24px;
}

p.sub-content {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
}

p {
  color: var(--cool-gray-700);
}

.top-img {
  display: inline-block;
  width: 996px;
  height: 447px;
}

.bottom-img {
  display: inline-block;
  width: 996px;
  height: 540px;

}

.top-img,
.bottom-img {
  position: absolute;
  bottom: 0;
  right: -137px;
}

.main-page-img {
  display: inline-block;
  width: 588px;
  height: 444px;
}

.login-button {
  border-radius: 8px;
  font-size: 16px;
  width: 128px;
  height: 48px;
  margin-left: 0;
}

.item-button {
  border-radius: 999px;
  font-size: 20px;
  width: 357px;
  height: 56px;
  margin: 0 auto;
}

button {
  border: none;
  background-color: var(--brand-blue);
  color: var(--gray-00);
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

h3 {
  font-size: 18px;
  font-weight: 800;
  color: var(--brand-blue);
}

.main-top,
.main-bottom {
  background-color: var(--main-background-color);
}

.main-bottom {
  margin-top: 180px;
}

footer {
  background-color: var(--cool-gray-900);
  height: 160px;
  padding: 32px 200px;
}

.codeit-2024 {
  font-size: 16px;
  font-weight: 400;
  color: var(--cool-gray-400);
}

.privacy-link,
.faq-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--cool-gray-200);
  text-decoration: none;
  cursor: pointer;
}

.privacy-faq-link {
  margin-top: -10px;
 }

.external-link {
  cursor: pointer;
  text-decoration: none;
}

.toppage,
.bottompage {
  position: relative;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-bar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}