@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  font-family: Pretendard, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --brand-blue: #3692ff;
  --brand-blue-hover: #1967d6;
  --brand-blue-active: #1251aa;
  --brand-red: #f74747;
  --error: var(--brand-red);
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --disabled: var(--gray400);
  --gray300: #d1d5db;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
}

html {
  color: var(--gray800);
}

body {
  position: relative;
  font-family: "Pretendard", "sans-serif";
  font-weight: 400;
  word-break: keep-all;
  font-size: 62.5%;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: var(--brand-blue);
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  border: 0;
}

.btn-small {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 20px;
  line-height: 24px;
}

.btn-large {
  width: 355px;
  height: 56px;
  border-radius: 40px;
  padding: 16px 114px;
  line-height: 24px;
  font-size: 2rem; // 20px;
}

.button:hover {
  background-color: var(--brand-blue-hover);
}

.button:active {
  background-color: var(--brand-blue-active);
}

.button:disabled {
  background-color: var(--disabled);
}
