/* Heading nav */
header#gnb {
  display: flex;
  justify-content: space-between;

  border-bottom: #dfdfdf 1px solid;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;
  padding: 10px 200px;
  background-color: #ffffff;

  z-index: 999;
}

nav#heading-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 153px;
}

.logo-mobile {
  display: none;
}

/* Banners */
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfe5ff;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 80% bottom;

  &.home-main-top {
    background-image: url("../assets/index/Img_home_top.png");
    margin-top: 70px;
    padding: 0 200px;
  }

  &.home-main-bottom {
    background-image: url("../assets/index/Img_home_bottom.png");
    padding: 0 200px;
  }
}

.home-main-desc {
  width: 100%;
  max-width: 1200px;
  height: 540px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  text-align: left;
  gap: 32px;
}

.home-main-title {
  display: inline-block;
  font-size: 4rem; // 40px
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em; // 2%
  color: var(--gray700);
}

h1.home-main-title {
  width: 320px;
}

/* Contents */
.home-main-section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1920px;
  height: 720px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.home-main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 1200px;
  padding: 0 0;
  gap: 64px;
}

.home-main-service {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.home-main-reverse {
  &.home-main-content {
    flex-direction: row-reverse;
    text-align: right;
  }
  & .home-main-service {
    align-items: flex-end;
  }
}

p.service-title {
  font-size: 1.8rem; // 18px
  font-weight: 700;
  color: var(--brand-blue);
}

h2.home-main-title {
  width: 300px;
}

p.service-desc {
  font-size: 2.4rem; // 24px
  font-weight: 500;
  letter-spacing: 0.08em; // 8%
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  height: 160px;
  padding: 30px 200px;
  background-color: var(--gray900);

  & .home-main-footer-content {
    width: 100%;
    max-width: 1520px;
    display: flex;
    justify-content: space-between;
  }

  & .footer-left {
    flex: 1;
    text-align: left;
    p {
      color: var(--gray400);
      font-family: "Abel", sans-serif;
    }
  }

  & .footer-center {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    gap: 30px;

    a {
      text-align: center;
      text-decoration: none;
      color: var(--gray200);
      font-family: "Abel", sans-serif;
    }
  }

  & .footer-right {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    flex: 1;
  }

  & .footer-icons {
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}

/* =============================== */
/* ========= Tablet Size ========= */
/* =============================== */

@media (max-width: 1199px) {
  header#gnb {
    padding: 10px 24px;
  }

  .logo {
    width: 153px;
  }

  h1.home-main-title {
    width: 100%;
  }

  /* Banners */
  .banner {
    background-position: center bottom;

    &.home-main-top {
      padding: 0 24px 0 24px;
      height: 771px;
    }

    &.home-main-bottom {
      height: 927px;
    }
  }

  .home-main-desc {
    padding-top: 60px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 771px;
    gap: 32px;
  }

  /* Contents */
  .home-main-section {
    height: auto;
    padding: 24px;
  }

  .home-main-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    max-width: 1200px;
    height: auto;
    gap: 36px;

    &.home-main-reverse {
      text-align: right;
      flex-direction: column;
    }

    & img {
      width: 100%;
    }
  }

  .home-main-service {
    width: 100%;
  }

  p.service-title {
    font-size: 1.8rem; // 18px
    font-weight: 700;
    color: var(--brand-blue);
  }

  h2.home-main-title {
    width: 100%;
    font-size: 3.2rem; // 32px
    line-height: 44.8px;
  }

  p.service-desc {
    font-size: 1.8rem; // 18px
    font-weight: 500;
    letter-spacing: 0.08em; // 8%
  }

  /* Footer */
  footer {
    padding: 30px 160px;
  }
}

/* =============================== */
/* ========= Mobile Size ========= */
/* =============================== */

@media (max-width: 767px) {
  /* Heading nav */
  .logo-tablet {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  h1.home-main-title {
    width: 310px;
    font-size: 3.2rem; // 32px
    line-height: 44.8px;
  }

  /* Banners */
  .banner {
    &.home-main-top {
      padding: 0 24px 0 24px;
      height: 540px;
      background-size: auto 50%;
    }

    &.home-main-bottom {
      height: 540px;
      background-size: auto 50%;

      & .home-main-desc {
        padding-top: 84px;
      }
    }
  }

  .home-main-desc {
    padding-top: 44px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 540px;
    gap: 32px;

    & .btn-large {
      width: 154px;
      height: 48px;
      border-radius: 40px;
      padding: 12px 20px;
      font-size: 1.6rem; // 16px
    }
  }

  /* Footer */
  footer {
    padding: 0px;

    & .home-main-footer-content {
      padding: 30px 30px 30px 30px;
    }

    & .footer-left {
      position: absolute;
      left: 30px;
      bottom: 30px;
    }
    & .footer-center {
      justify-content: flex-start;
    }
  }
}
