body,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

header {
  margin: 60px 24px 24px 24px;
}

.logo {
  width: 396px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  width: 640px;
  gap: 24px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form label {
  display: inline-block;
  font-weight: 700;
  font-size: 1.8rem; // 18px
}

.form-input {
  width: 100%;
  height: 56px;
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  border: 1px solid transparent;
  color: var(--gray800);
  background-color: var(--gray100);

  &:focus {
    outline: 1px solid var(--brand-blue);
  }

  &::placeholder {
    color: var(--gray400);
  }
}

.form-input-errmsg {
  position: relative;
  margin-top: -2px;
  left: 16px;
  color: var(--error);
  font-size: 1.5rem;
  font-weight: 600;
}

a.password-inv {
  position: absolute;
  top: 52px;
  right: 24px;

  display: inline-block;
  width: 24px;
  height: 24px;

  background-image: url("../assets/login/btn_visibility_off_24px.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button.btn-large.submit-button {
  width: 640px;
}

/* Social Login */
.social-login-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 640px;
  height: 74px;
  border-radius: 8px;
  padding: 0 24px;
  background-color: #e6f2ff;
}

.social-login-div span {
  display: inline-block;
  flex: 1;
  font-weight: 600;
}

.circular-button {
  display: inline-block;
  border-radius: 9999px;
  width: 42px;
  height: 42px;
}

.google-social-login {
  border: 1px solid #f9fafb;
  background-color: #ffffff;
  background-image: url("../assets/login/Google-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.kakao-social-login {
  background-color: #f5e14b;
  background-image: url("../assets/login/kakao-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-link {
  color: #3182f6;
}

/* =============================== */
/* ========= Mobile Size ========= */
/* =============================== */

@media (max-width: 767px) {
  body {
    padding: 0 24px;
  }

  main {
    width: 100%;
    max-width: 400px;
  }

  header {
    margin: 47px 24px 24px 24px;
  }

  .logo {
    width: 198px;
  }

  /* Form */
  form {
    width: 100%;
    max-width: 400px;
  }

  .form-group {
    gap: 12px;
  }

  form label {
    font-size: 1.4rem; // 14px
  }

  .password-inv {
    top: 44px;
    right: 24px;
  }

  .button.btn-large.submit-button {
    width: 100%;
    font-size: 1.6rem; // 16px
  }

  /* Social Login */
  .social-login-div {
    width: 100%;
  }
}
