@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/src/assets/fonts/PretendardVariable.woff2")
    format("woff2-variations");
}

:root {
  --fff: #fff;
  --000: #000;
  --click: #1251aa;
  --brand: #3692ff;
  --banner: #cfe5ff;
  --coolgray-50: #f9fafb;
  --coolgray-100: #f3f4f6;
  --coolgray-200: #e5e7eb;
  --coolgray-400: #9ca3af;
  --coolgray-500: #6b7280;
  --coolgray-600: #454c53;
  --coolgray-700: #374151;
  --coolgray-800: #26282b;
  --coolgray-900: #111827;
  --error: #f74747;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.section-title {
  color: var(--coolgray-900);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 28px;
}

.page-title {
  color: var(--coolgray-800);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 33px;
}

.active {
  background-color: var(--brand);
}

input,
button,
textarea {
  font-family: "Pretendard Variable", Pretendard, -apple-system, sans-serif;
}

textarea {
  outline: 0;
  resize: none;
}

html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, sans-serif;
  font-size: 16px;
}

.hidden {
  display: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: 0px;
}

button {
  border: 0px;
  background-color: var(--fff);
}
