@import '../../../../styles/global.scss';

.btn {
  border: 1px solid $gray-200;
  border-radius: 35px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
  }

  &__count {
    margin: 0 0 0 5px;
    font-size: 16px;
    font-weight: 500;
    color: $gray-800;
  }
}
