.best-product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  overflow-x: scroll;
}

.card {
  color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-best-img {
  display: inline-block;
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.product-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
}

.favorite-count {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.32px;
  color: #4b5563;
  display: flex;
  align-items: center;
}

.heartIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
