:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;

  --blue: #3692ff;
  --red: #f74747;

  --hover: #1967d6;
  --click: #1251aa;
  --inactive: #9ca3af;

  --header-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img,
svg {
  vertical-align: bottom;
}

body {
  color: var(--gray700);
  word-break: keep-all;
  font-family: 'Pretendard', sans-serif;
}

.button {
  background-color: var(--blue);
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--click);
  }

  &:disabled {
    background-color: var(--inactive);
    cursor: default;
    pointer-events: none;
  }
}
