* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gray-900 : #111827;
  --gray-800 : #1F2937;
  --gray-700 : #374151;
  --gray-600 : #4B5563;
  --gray-500 : #6B7280;
  --gray-400 : #9CA3AF;
  --gray-200 : #E5E7EB;
  --gray-100 : #F3F4F6;
  --gray-50 : #F9FAFB;
  --white : #ffffff;

  --blue : #3692FF;
  --aliceblue : #E6F2FF;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

body {
  color: var(--gray-700);
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}

main{
  margin-top: 70px;
}

footer {
  background-color: var(--gray-900);
  color: var(--gray-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
  flex-wrap: wrap;
  gap: 60px;
}

.footerMenu {
  display: flex;
  gap: 30px;
  color: var(--gray-200);
}

.socialMedia {
  display: flex;
  gap: 12px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}
img{
  vertical-align: bottom;
}


.button {
  background-color: var(--blue);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1967d6;
}

.button:focus {
  background-color: #1251aa;
}

.button:disabled {
  background-color: var(--gray-400);
  cursor: default;
  pointer-events: none;
}
.pill-button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 999px;
  padding: 16px 34px;
}

.spacing-desktop{
  display: inline;
}

@media(min-width : 375px){
  header{
    padding: 0 16px;
  }

  footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding : 32px;
    grid-template-areas:
    "footerMenu socialMedia"
    "copyright copyright";
    height: inherit;
    gap: 0;
  }
  .spacing-desktop{
    display: none;
  }
}

@media(min-width : 768px){
  header{
    padding: 0 24px;
  }

  .wrapper{
    padding: 0 24px;
  }

  footer{
    padding: 32px 184px 108px 104px;
    display: flex;
  }

  .footerMenu{
    flex-basis: auto;
    order: 0;
  }
  .spacing-desktop{
    display: none;
  }
}