:root {
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --blue: #3692ff;
  --hover-blue: #1967d6;
  --active-blue: #1251aa;
  --light-blue: #e6f2ff;
  --red: #f74747;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img,
svg {
  vertical-align: bottom;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0 11rem;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-900);
  width: 100%;
  padding: 32px 200px 100px 200px;
  font-size: 16px;
}
@media (max-width: 1199px) and (min-width: 768px) {
  header {
    padding: 0 1.5rem;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  header {
    padding: 0 1rem;
  }
}
