
.login.button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14.5px 43px;
}

.hero.banner {
  background-image: url('../images/home/hero.png');
}

.bottom.banner {
  background-image: url("../images/home/bottom.png");
}

.banner .pill.button {
  margin-top: 32px;
}

.features.wrapper {
  padding-bottom: 138px;
}

.feature-content {
  flex: 1;
}

.feature:nth-child(2) {
  text-align: right;
}

.feature-tag {
  color: #3692ff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 12px;
}

.feature-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 24px;
}

.footerMenu {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
}

.socialMedia {
  display: flex;
  gap: 12px;
}
