.login-container{
    max-width: 640px;
    margin: 0 auto;
}

.logo-home{
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.input-item{
    margin-bottom: 24px;
}

.input-item label{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: var(--gray-800);
    margin-bottom: 16px;
}

.input-item input{
    padding: 16px 24px;
    background-color: var(--gray-100);
    
    border: none;
    border-radius: 12px;
    font-size: 16px;
    width: 100%;
}
.input-item input:focus{
    outline-color : var(--blue);
}

.input-wrapper{
    position: relative;
    display: flex;
    align-items: center;
}
.password-toggle-btn{
    position: absolute;
    right: 24px;
}

.pill-button{
    width: 100%;
}
.social-login{
    background-color: var(--aliceblue);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 24px 0;
    padding : 16px 24px;
}
.social-login h3{
    font-size: 16px;
    font-weight: 500;
}
.social-login-buttons{
    display: flex;
    gap: 16px;
}
.switch{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.switch a{
    color: var(--blue);
    text-decoration: underline;
}

@media (min-width : 768px){
    .login-container{
        max-width: 640px;
    }
    .logo-home{
        width: 640px;
        margin-top: 48px;
        margin-bottom: 40px;
    }
    label{
        font-size: 18px;
        margin-bottom: 16px;
    }
}