* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vmin;
}

a {
  display: block;
  background-image: url('/images/pandamarket/og-image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size : contain;
}
