.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 100px;
}

.top-section-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-item-button {
  height: 42px;
  padding: 12px 20px;
  border-radius: 8px;
  margin: auto 0;
}

.label {
  font-size: 18px;
  font-weight: 700;
}

#item-name,
#item-price,
#item-detail,
#tag {
  background-color: #f3f4f6;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

#item-name,
#item-price,
#tag {
  width: 100%;
  height: 56px;
  border-radius: 12px;
}

#item-detail {
  width: 100%;
  height: 200px;
  border-radius: 12px;
}
