.homeMain {
  &__banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfe5ff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 80% bottom;

    @media (max-width: 1199px) {
      background-position: center bottom;
    }

    &.homeMain__top {
      background-image: url("../../assets/HomePage/Img_home_top.png");
      margin-top: 70px;
      padding: 0 200px;

      @media (max-width: 1199px) {
        padding: 0 24px 0 24px;
        height: 771px;
      }

      @media (max-width: 767px) {
        padding: 0 24px 0 24px;
        height: 540px;
        background-size: auto 50%;
      }
    }

    &.homeMain__bottom {
      background-image: url("../../assets/HomePage/Img_home_bottom.png");
      padding: 0 200px;

      @media (max-width: 1199px) {
        height: 927px;
      }

      @media (max-width: 767px) {
        height: 540px;
        background-size: auto 50%;

        & .homeMain__desc {
          padding-top: 84px;
        }
      }
    }
  }

  &__desc {
    width: 100%;
    max-width: 1200px;
    height: 540px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    gap: 32px;

    @media (max-width: 1199px) {
      padding-top: 60px;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      height: 771px;
      gap: 32px;
    }

    @media (max-width: 767px) {
      padding-top: 44px;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      height: 540px;
      gap: 32px;

      & .globalBtn--large {
        width: 154px;
        height: 48px;
        border-radius: 40px;
        padding: 12px 20px;
        font-size: 1.6rem; // 16px
      }
    }
  }

  &__title {
    &--h1 {
      display: inline-block;
      font-size: 4rem; // 40px
      font-weight: 700;
      line-height: 56px;
      color: var(--gray700);
      width: 320px;

      @media (max-width: 767px) {
        width: 310px;
        font-size: 3.2rem; // 32px
        line-height: 44.8px;
      }
    }

    &--h2 {
      display: inline-block;
      font-size: 4rem; // 40px
      font-weight: 700;
      line-height: 5.6rem;
      color: var(--gray700);
      width: 294px;

      @media (max-width: 1199px) {
        width: 100%;
        font-size: 3.2rem; // 32px
        line-height: 45px;
      }
    }
  }

  /* Contents */
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1920px;
    height: 720px;
    margin: 0 auto;
    margin-bottom: 24px;

    @media (max-width: 1199px) {
      height: auto;
      padding: 24px;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 1200px;
    padding: 0 0;
    gap: 64px;

    @media (max-width: 1199px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 100%;
      max-width: 1200px;
      height: auto;
      gap: 36px;
    }

    &--reverse {
      text-align: right;
      flex-direction: row-reverse;
      justify-content: flex-end;
      @media (max-width: 1199px) {
        flex-direction: column;
      }
      & .homeMain__serviceContainer {
        align-items: flex-end;
      }
    }

    & img {
      @media (max-width: 1199px) {
        width: 100%;
      }
    }
  }

  &__serviceContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 18px;
  }

  &__serviceTitle {
    font-size: 1.8rem; // 18px
    font-weight: 700;
    color: var(--brand-blue);
  }

  &__serviceDesc {
    font-size: 2.4rem; // 24px
    font-weight: 500;
    letter-spacing: 0.08rem;

    @media (max-width: 1199px) {
      font-size: 1.8rem; // 18px
      font-weight: 500;
      letter-spacing: 0.08em; // 8%
    }
  }
}
