.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo-img {
  display: inline-block;
  width: 153px;
  height: 51px;
}

.tab-list {
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: start;
  margin: 0 20px;
}

.tab-item {
  width: 100px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 21.48px;
  color: #4b5563;
}

.selected {
  color: #3692ff;
}
