header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--white);
  border-bottom: 1px solid #dfdfdf;
}

.navLeft {
  display: flex;
  align-items: center;
}

.globalHeader nav ul {
  display: flex;
  list-style: none;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  color: var(--gray600);
  margin-left: 16px;
}

.globalHeader nav a:hover {
  color: var(--blue);
}

.login {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14.5px 43px;
}

@media (min-width: 768px) {
  .globalHeader nav ul {
    gap: 36px;
    font-size: 18px;
    margin-left: 20px;
  }
}

@media (min-width: 1280px) {
  .globalHeader nav ul {
    margin-left: 32px;
  }
}
