@import '../../styles/variables';

.mainContainer {
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  padding: calc(var(--header-height) + 24px) 24px 24px 24px;
  @media #{$mobileSize} {
    padding: calc(var(--header-height) + 16px) 16px 16px 16px;
  }
}
